.home-menu {
  align-items: flex-start;
  background-color: var(--greyslight-beige);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 7706px;
  position: relative;
  width: 1920px;
}

.banner-22 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 1080px;
  width: 1920px;
}

.overlap-group5-7 {
  align-items: center;
  background-color: var(--pine-green);
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 44px 0;
  position: relative;
  width: 1920px;
}

.overlap-group-79 {
  height: 517px;
  margin-top: 4px;
  position: relative;
  width: 1237px;
}

.dropdowns-expanded {
  align-items: flex-end;
  background-color: var(--greyslight-beige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  left: 348px;
  min-height: 491px;
  padding: 20px 16px;
  position: absolute;
  top: 0;
  width: 848px;
}

.flex-row-56 {
  align-items: flex-start;
  display: flex;
  margin-right: 15px;
  min-width: 787px;
  position: relative;
}

.line-1-5 {
  height: 322px;
  margin-left: 27px;
  width: 1px;
}

.group-10-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-left: 44px;
  margin-top: 14px;
  min-height: 176px;
  position: relative;
  width: 273px;
}

.container-46 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 1017px;
  padding: 119px 0;
  position: relative;
  width: 1920px;
}

.our-solutions-9 {
  letter-spacing: 0;
  line-height: 52px;
  min-width: 346px;
  text-align: center;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-212 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 50px;
  min-height: 66px;
  text-align: center;
  width: 1016px;
}

.cards-54 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  margin-top: 50px;
  min-width: 1396px;
  position: relative;
}

.card-hovered-1 {
  align-items: flex-start;
  display: flex;
  min-width: 688px;
  position: relative;
}

.card-112 {
  align-items: flex-end;
  background-color: var(--primaryyellow);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  height: 334px;
  min-width: 334px;
  opacity: 0.9;
  padding: 54.0px 20.5px;
}

.overlap-group-80 {
  height: 214px;
  position: relative;
  width: 293px;
}

.icon-link-4 {
  height: 160px;
  left: 66px;
  position: absolute;
  top: 0;
  width: 160px;
}

.catalyst-value-solutions-8 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 169px;
}

.image-17-1 {
  height: 121px;
  left: 148px;
  object-fit: cover;
  position: absolute;
  top: 94px;
  width: 86px;
}

