.dropdowns-2 {
  align-items: flex-start;
  background-color: var(--greyslight-beige);
  border: 2px solid;
  border-color: var(--primarybeige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  min-height: 204px;
  overflow-x: hidden;
  padding: 32px 28px;
  position: relative;
  width: 504px;
}

