.our-story2 {
  align-items: center;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3122px;
  position: relative;
  width: 1440px;
}

.flex-row-82 {
  align-items: flex-start;
  display: flex;
  height: 224px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1281px;
}

.flex-col-130 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 107px;
  min-height: 224px;
  width: 277px;
}

.logo-127,
.our-vision-mission-2,
.map-6 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
}

.title-82 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 73px;
}

.menu-65 {
  align-items: flex-start;
  display: flex;
  gap: 48px;
  margin-left: 11px;
  margin-top: 13px;
  min-width: 653px;
  position: relative;
}

.frame-4-49 {
  align-items: flex-start;
  display: flex;
  min-width: 177px;
}

.partners-clients-10 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 153px;
}

.keyboard_arrow_down-150 {
  height: 24px;
  width: 24px;
}

.flex-col-131 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 132px;
  margin-left: 108px;
  margin-top: 3px;
  min-height: 207px;
  width: 232px;
}

.contact-us-135 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 27.5px;
  margin-top: 9px;
  min-height: 22px;
  min-width: 94px;
}

.group-34-6 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 44px;
  min-width: 225px;
}

.our-team-75 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 44px;
  min-width: 158px;
}

.arrow-1-7 {
  align-self: center;
  height: 1px;
  margin-top: 5.0px;
  width: 49px;
}

.lorem-ipsum-dolor-si-298 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 30px;
  min-height: 38px;
  width: 646px;
}

.mission-6 {
  align-items: flex-start;
  display: flex;
  gap: 237px;
  height: 309px;
  margin-left: 8.0px;
  margin-top: 150px;
  min-width: 1288px;
}

.ellipse-container-37 {
  height: 294px;
  position: relative;
  width: 474px;
}

.ellipse-4-14 {
  background-color: var(--greyslight);
  border-radius: 147px;
  height: 294px;
  left: 0;
  position: absolute;
  top: 0;
  width: 294px;
}

.ellipse-5-14 {
  background-color: var(--cultured-pearl);
  border-radius: 128.5px;
  height: 257px;
  left: 217px;
  position: absolute;
  top: 33px;
  width: 257px;
}

.flex-col-132 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 31px;
  min-height: 294px;
  width: 583px;
}

.group-11-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 219px;
  width: 583px;
}

.lorem-ipsum-dolor-si-299 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 57px;
  width: 577px;
}

.lorem-ipsum-dolor-si-296 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 57px;
  width: 577px;
}

.frame-45-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3.0px;
  margin-top: 150px;
  min-height: 436px;
  width: 1299px;
}

.our-journey-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 63.0px;
  margin-top: -1px;
  min-height: 44px;
  min-width: 208px;
}

.lorem-ipsum-dolor-si-300 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3.0px;
  margin-top: 30px;
  min-height: 38px;
  width: 642px;
}

.group-40-2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 101px;
  min-height: 224px;
  width: 1310px;
}

.lorem-ipsum-dolor-si-container-4 {
  align-items: flex-start;
  display: flex;
  height: 57px;
  margin-left: 8px;
  margin-top: -1px;
  min-width: 1249px;
}

.lorem-ipsum-dolor-si-297 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 57px;
  width: 176px;
}

.lorem-ipsum-dolor-si-301 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 183px;
  min-height: 57px;
  width: 176px;
}

.lorem-ipsum-dolor-si-302 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 176px;
  min-height: 57px;
  width: 176px;
}

.lorem-ipsum-dolor-si-303 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 186px;
  min-height: 57px;
  width: 176px;
}

.overlap-group-137 {
  height: 28px;
  margin-top: 45px;
  position: relative;
  width: 1296px;
}

.arrow-2-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 1296px;
}

.lorem-ipsum-dolor-si-container-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 183px;
  height: 57px;
  margin-right: 42.0px;
  margin-top: 37px;
  min-width: 894px;
}

.frame-46-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 150px;
  min-height: 600px;
  width: 1079px;
}

.our-present {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: -1px;
  min-height: 44px;
  min-width: 210px;
}

.lorem-ipsum-dolor-si-304 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.0px;
  margin-top: 30px;
  min-height: 38px;
  width: 642px;
}

.overlap-group-138 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 408px;
  margin-top: 81px;
  min-width: 1079px;
  padding: 181px 492px;
}

