.group-7-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 61px;
  width: 310px;
}

.catalyst-s4-5 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 19px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-124 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 34px;
  width: 306px;
}

.group-7-2.group-8-2,
.group-7-2.group-8-3 {
  margin-top: 23px;
}

.group-7-2.group-9-1,
.group-7-2.group-9-2 {
  margin-top: 29px;
}

