.banner-18,
.banner-19,
.banner-20 {
  align-items: flex-start;
  background-image: url(/static/img/hans-reniers-lqgjcmy5qcm-unsplash-1-26@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 1080px;
  width: 1920px;
}

.overlap-group5-3,
.overlap-group5-4,
.overlap-group5-5 {
  align-items: center;
  background-color: var(--pine-green);
  display: flex;
  flex-direction: column;
  min-height: 1080px;
  padding: 44px 0;
  position: relative;
  width: 1920px;
}

