.thank-you-message {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1565px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.flex-row-49 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 45px;
  margin-right: 2.0px;
  margin-top: 48px;
  min-width: 1292px;
  position: relative;
}

.logo-65 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.contact-us-72 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 200px;
  margin-top: 1.0px;
  min-height: 22px;
  min-width: 94px;
}

.title-49 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 73px;
  margin-top: 54px;
  min-height: 73px;
}

.lorem-ipsum-dolor-si-163 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 75px;
  margin-top: 30px;
  min-height: 38px;
  width: 646px;
}

.thank-you-your-mess {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 74px;
  margin-top: 80px;
  min-height: 72px;
  width: 855px;
}

.frame-89-5 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  height: 42px;
  justify-content: flex-end;
  margin-left: 75px;
  margin-top: 47px;
  min-width: 237px;
  padding: 9px 30px;
}

.send-another-email {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

