.frame-7-22 {
  align-items: center;
  display: flex;
  margin-left: 51px;
  min-width: 92px;
}

.clients-79 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 25px;
  min-width: 60px;
}

.caret-circle-down-70 {
  height: 32px;
  width: 32px;
}

.frame-7-22.frame-7-25 {
  margin-left: unset;
}

