.frame-1-1,
.frame-1-2,
.frame-12-1 {
  height: 427px;
  position: relative;
  width: 438px;
}

.rectangle-12751-5,
.rectangle-12751-6,
.rectangle-12751-7 {
  height: 265px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 438px;
}

