.banner2 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.overlap-group5-12 {
  height: 1279px;
  position: relative;
  width: 2090px;
}

.hans-reniers-l-qgjcmy5qc-m-unsplash-2-23 {
  background-color: var(--aqua-deep);
  height: 1080px;
  left: 0;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 1920px;
}

.logo-icon-2 {
  height: 789px;
  left: 1192px;
  position: absolute;
  top: 490px;
  width: 898px;
}

