.banner-28,
.banner-29 {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.overlap-group-94,
.overlap-group-95 {
  height: 591px;
  position: relative;
  width: 1920px;
}

.breadcrumb-18,
.breadcrumb-19 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 32px;
  left: 260px;
  min-width: 171px;
  position: absolute;
  top: 238px;
}

.place-45,
.place-46 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 48px;
}

.caret-circle-right-52,
.caret-circle-right-53 {
  height: 32px;
  width: 32px;
}

.contact-us-119,
.contact-us-120 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 85px;
  opacity: 0.6;
}

