.dropdowns-u40expandedu41-3,
.dropdowns-u40expandedu41-4 {
  align-items: flex-end;
  background-color: var(--greyslight-beige);
  border: 2px solid;
  border-color: var(--primarybeige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  min-height: 491px;
  overflow-x: hidden;
  padding: 20px 14px;
  position: relative;
  width: 848px;
}

.flex-row-12,
.flex-row-13 {
  align-items: center;
  display: flex;
  margin-right: 17px;
  min-width: 787px;
  position: relative;
}

.line-1-2,
.line-1-3 {
  height: 322px;
  margin-left: 27px;
  object-fit: cover;
  width: 1px;
}

.group-10-3,
.group-10-4,
.group-10-11,
.group-10-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 12.0px;
  margin-left: 44px;
  min-height: 282px;
  position: relative;
  width: 273px;
}

.preferred-option-2 {
  align-items: center;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1602px;
  overflow: hidden;
  width: 1920px;
}

.title-23-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 51px;
  min-width: 394px;
}

.new_act-logo-v5-1-6,
.new_act-logo-v5-1-7,
.new_act-logo-v5-1-8,
.new_act-logo-v5-1-2 {
  height: 43px;
  object-fit: cover;
  width: 177px;
}

.screenshot-2022-12-07-at-115-2-1 {
  height: 1436px;
  margin-top: 70px;
  object-fit: cover;
  width: 1920px;
}

.flex-row-22 {
  align-items: flex-start;
  display: flex;
  gap: 27px;
  margin-right: 519.0px;
  margin-top: 1577px;
  min-width: 77px;
}

.rectangle-3-2,
.rectangle-3-3,
.rectangle-3-4 {
  background-color: var(--blue-stone);
  border-radius: 100px;
  height: 25px;
  width: 25px;
}

.rectangle-1-2,
.rectangle-1-3,
.rectangle-1-4 {
  background-color: var(--pink-flamingo);
  border-radius: 100px;
  height: 25px;
  width: 25px;
}

.preferred-option-3-2,
.preferred-option-3 {
  align-items: center;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1607px;
  overflow: hidden;
  width: 1920px;
}

.screenshot-2022-12-07-at-115-2-1,
.screenshot-2022-12-07-at-115-2-1 {
  height: 1441px;
  margin-top: 70px;
  object-fit: cover;
  width: 1920px;
}

.flex-row-22,
.flex-row-22 {
  align-items: flex-start;
  display: flex;
  gap: 27px;
  margin-right: 519.0px;
  margin-top: 1572px;
  min-width: 77px;
}

.catalyst-s4u95how-it-works-2u473 {
  align-items: flex-start;
  background-color: var(--greyslight-beige);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5614px;
  position: relative;
  width: 1920px;
}

.banner-26 {
  align-items: flex-start;
  display: flex;
  min-width: 1920px;
}

.overlap-group-88 {
  height: 591px;
  position: relative;
  width: 1920px;
}

.navbar-2 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 32px;
  left: 260px;
  min-width: 474px;
  position: absolute;
  top: 238px;
}

.navbar-link-place-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 48px;
}

.caret-circle-right-47 {
  height: 32px;
  width: 32px;
}

.navbar-link-solutions-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 76px;
}

.navbar-link-population-health-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 148px;
}

.navbar-link-catalyst-s4-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 88px;
  opacity: 0.6;
}

.frame-107-16 {
  align-items: flex-start;
  background-color: var(--primarybeige);
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 0;
  min-height: 311px;
  padding: 95px 260px;
  position: absolute;
  top: 280px;
  width: 1394px;
}

.title-69,
.number-63,
.number-64,
.number-65,
.number-66,
.number-67 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 82px;
}

.infectious-diseases-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  width: 785px;
}

.why-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1001px;
  padding: 119px 260px;
  width: 1920px;
}

.why-catalyst-s4-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 54px;
  width: 703px;
}

.today-pathogen-detec-4 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 2px;
  margin-top: 30px;
  min-height: 60px;
  width: 868px;
}

.group-93 {
  align-items: center;
  align-self: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 79px;
  min-height: 539px;
  width: 1094px;
}

.group-89-4 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  gap: 25px;
  height: 257px;
  min-width: 1094px;
}

.overlap-group-89 {
  align-items: flex-start;
  background-color: var(--parchment-3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 257px;
  padding: 18px 29px;
  width: 348px;
}

.simultaneous-review-4 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  text-align: center;
  width: 289px;
}

.overlap-group-85 {
  align-items: flex-start;
  background-color: var(--primarybeige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 257px;
  padding: 18px 29px;
  width: 348px;
}

.diagnostic-decision-support-4,
.integrate-into-existing-workflow-2,
.no-hardware-installation-needed-2 {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 1.0px;
  min-height: 64px;
  text-align: center;
  width: 287px;
}

.near-real-time-update-2 {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 1.0px;
  text-align: center;
  width: 287px;
}

.group-90-4 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  gap: 25px;
  height: 257px;
  margin-left: 57.0px;
  min-width: 721px;
}

.how-it-works-6 {
  align-items: flex-start;
  background-color: var(--primarygreen);
  display: flex;
  gap: 154px;
  height: 815px;
  min-width: 1920px;
  padding: 108px 264px;
  position: relative;
}

.flex-col-90 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 584px;
  width: 1215px;
}

.how-it-works-7,
.who-use-this-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 54px;
  width: 729px;
}

.early-pathogen-detec-4 {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 30px;
  min-height: 60px;
  width: 871px;
}

.overlap-group3-25 {
  align-self: flex-end;
  height: 365px;
  margin-top: 75px;
  position: relative;
  width: 1179px;
}

.group-94-4 {
  align-items: center;
  display: flex;
  gap: 137px;
  height: 365px;
  left: 0;
  min-width: 1179px;
  position: absolute;
  top: 0;
}

.ellipse-28-3 {
  height: 365px;
  width: 365px;
}

.send-full-analysis-r {
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 55.0px;
  min-height: 144px;
  width: 675px;
}

.text-15 {
  left: 494px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 24px;
}

.who-use-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 41px;
  min-height: 587px;
  padding: 119px 260px;
  width: 1920px;
}

.clients-98 {
  align-items: flex-start;
  display: flex;
  gap: 85px;
  height: 253px;
  min-width: 1315px;
}

.client-container-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  min-height: 253px;
  width: 615px;
}

.client-5 {
  align-items: center;
  display: flex;
  gap: 42px;
  min-width: 615px;
  position: relative;
}

.group-95-8 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 29px 2px;
}

.image-27-2 {
  height: 41px;
  object-fit: cover;
  width: 100px;
}

.group-95-9 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 17px 7.4px;
}

.image-30-2 {
  height: 70px;
  object-fit: cover;
  width: 90px;
}

.group-95-10 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 33px 2px;
}

.image-29-2 {
  height: 38px;
  object-fit: cover;
  width: 95px;
}

.group-95-11 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 27px 7px;
}

.image-31-2 {
  height: 50px;
  object-fit: cover;
  width: 90px;
}

.publications-45 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 41px;
  min-height: 761px;
  padding: 119px 258px;
  position: relative;
  width: 1920px;
}

.industry-publications-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  min-height: 54px;
  width: 729px;
}

.others-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 41px;
  min-height: 668px;
  padding: 119px 260px;
  width: 1920px;
}

.other-solutions-in-population-health-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 54px;
  width: 813px;
}

.card-114 {
  align-items: center;
  background-color: var(--primarybeige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 334px;
  opacity: 0.9;
  padding: 65.5px 0;
  width: 334px;
}

.flask-10 {
  height: 160px;
  width: 160px;
}

.catalyst-research-9 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  min-width: 217px;
  text-align: center;
}

.flex-row-21-1 {
  align-items: flex-start;
  display: flex;
  gap: 1230px;
  height: 52px;
  margin-right: 1.0px;
  margin-top: 44px;
  min-width: 1801px;
}

.dropdowns-3 {
  align-items: flex-end;
  background-color: var(--greyslight-beige);
  border: 1px none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  min-height: 491px;
  overflow-x: hidden;
  padding: 31px 15px;
  position: relative;
  width: 504px;
}

.cant-find-12 {
  align-items: flex-start;
  background-color: var(--primarybeige);
  border-radius: 10px;
  display: flex;
  gap: 19px;
  height: 82px;
  justify-content: flex-end;
  min-width: 473px;
  padding: 13px 22px;
  position: relative;
}

.cant-find-what-you-need-12 {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 27px;
  min-width: 257px;
}

.dropdowns-expanded-3,
.dropdowns-expanded-4 {
  align-items: flex-end;
  background-color: var(--greyslight-beige);
  border: 1px none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-height: 491px;
  overflow-x: hidden;
  padding: 20px 16px;
  position: relative;
  width: 848px;
}

.flex-row-63,
.flex-row-64 {
  align-items: center;
  display: flex;
  margin-right: 15px;
  min-width: 787px;
  position: relative;
}

.line-1-8,
.line-1-9 {
  height: 322px;
  margin-left: 27px;
  width: 1px;
}

.contact-us-10-1 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2291px;
  position: relative;
  width: 1440px;
}

.flex-row-92 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 45px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1281px;
}

.logo-136 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.menu-74 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 48px;
  margin-left: 184px;
  margin-top: 5.0px;
  min-width: 653px;
  position: relative;
}

.frame-4-58 {
  align-items: flex-start;
  display: flex;
  min-width: 177px;
}

.partners-clients-19 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 153px;
}

.keyboard_arrow_down-159 {
  height: 24px;
  width: 24px;
}

.contact-us-container-8 {
  align-self: flex-end;
  border-radius: 20px;
  height: 42px;
  margin-left: 191px;
  position: relative;
  width: 149px;
}

.contact-us-144 {
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.title-91 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 106px;
  min-height: 73px;
}

.overlap-group4-23 {
  height: 158px;
  margin-left: 80px;
  margin-top: 30px;
  position: relative;
  width: 646px;
}

.group-container-13 {
  height: 131px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 622px;
}

.group-29-5 {
  background-color: var(--greyswhite);
  border-radius: 20px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 622px;
}

.group-57-14 {
  align-items: flex-start;
  display: flex;
  gap: 244px;
  height: 102px;
  left: 32px;
  min-width: 565px;
  padding: 0.0px 0;
  position: absolute;
  top: 0;
}

.solutions-98 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 30px;
  width: 303px;
}

.group-57-11 {
  height: 8px;
  width: 18px;
}

.lorem-ipsum-dolor-si-313 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 646px;
}

.overlap-group7-2 {
  height: 170px;
  margin-left: 80px;
  margin-top: 25px;
  position: relative;
  width: 622px;
}

.group-container-14 {
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 622px;
}

.group-29-6 {
  background-color: var(--greyswhite);
  border-radius: 20px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 622px;
}

.group-57-15 {
  align-items: flex-start;
  display: flex;
  gap: 97px;
  height: 141px;
  left: 32px;
  min-width: 565px;
  padding: 0.0px 0;
  position: absolute;
  top: 0;
}

.early-pathogen-recognition-8 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 30px;
  width: 450px;
}

.i-know-what-i-want-4 {
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 226px;
}

.ellipse-21-5 {
  background-color: var(--alto);
  border-radius: 9.5px;
  height: 19px;
  left: 4px;
  position: absolute;
  top: 18px;
  width: 19px;
}

.ellipse-22-10 {
  border-radius: 13.5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 27px;
}

.place-an-inquiry-11 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 46px;
  min-height: 30px;
  width: 226px;
}

.overlap-group6-2 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border-radius: 20px;
  display: flex;
  height: 89px;
  margin-left: 80px;
  margin-top: 30px;
  min-width: 622px;
  padding: 29px 32px;
}

.phone-number-11 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 30px;
  width: 450px;
}

.inspiration-2 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5572px;
  padding: 44px 59px;
  width: 1920px;
}

.flex-col-16 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 1068px;
  width: 1801px;
}

.flex-row-17 {
  align-items: flex-start;
  display: flex;
  gap: 1335px;
  height: 52px;
  min-width: 1801px;
}

.title-20 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 51px;
  min-width: 289px;
}

.flex-row-18 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 129px;
  margin-left: 104.0px;
  margin-top: 151px;
  min-width: 1285px;
}

.screen-shot-2022-12-07-at-92-1 {
  height: 373px;
  object-fit: cover;
  width: 673px;
}

.image-8-1 {
  height: 362px;
  object-fit: cover;
  width: 483px;
}

.screen-shot-at-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 129px;
  height: 430px;
  margin-right: 10px;
  margin-top: 62px;
  min-width: 1481px;
}

.screen-shot-2022-12-07-at-938-2-1 {
  align-self: flex-end;
  height: 358px;
  object-fit: cover;
  width: 679px;
}

.flex-row-19 {
  align-items: flex-end;
  display: flex;
  gap: 74px;
  height: 1153px;
  margin-left: 39px;
  margin-top: 88px;
  min-width: 1643px;
}

.flex-col-17 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 68px;
  min-height: 1153px;
  width: 999px;
}

.image-13-3 {
  height: 562px;
  object-fit: cover;
  width: 999px;
}

.screen-shot-2022-12-07-at-947-2-1 {
  height: 523px;
  object-fit: cover;
  width: 941px;
}

.image-11-4 {
  height: 1143px;
  margin-bottom: 2px;
  object-fit: cover;
  width: 570px;
}

.screenshot-2022-12-07-at-219-2-1 {
  height: 560px;
  margin-left: 39px;
  margin-top: 68px;
  object-fit: cover;
  width: 1643px;
}

.screenshot-2022-12-07-at-114-2-1 {
  align-self: center;
  height: 1208px;
  margin-right: 70.0px;
  margin-top: 96px;
  object-fit: cover;
  width: 1632px;
}

.screenshot-2022-12-07-at-126-4-1 {
  align-self: center;
  height: 1017px;
  margin-right: 1.0px;
  margin-top: 145px;
  object-fit: cover;
  width: 1635px;
}

