.frame-3-86,
.frame-3-87 {
  align-items: flex-start;
  align-self: flex-start;
  border-radius: 30px;
  display: flex;
  height: 60px;
  margin-left: 77px;
  margin-top: 31px;
  min-width: 348px;
  padding: 18px 104px;
}

.request-a-demo-14,
.request-a-demo-15 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

