.contact-us-7-1 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1642px;
  position: relative;
  width: 1440px;
}

.flex-row-89 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 45px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1281px;
}

.logo-133 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.menu-71 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 48px;
  margin-left: 184px;
  margin-top: 5.0px;
  min-width: 653px;
  position: relative;
}

.frame-4-55 {
  align-items: flex-start;
  display: flex;
  min-width: 177px;
}

.partners-clients-16 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 153px;
}

.keyboard_arrow_down-156 {
  height: 24px;
  width: 24px;
}

.contact-us-container-5 {
  align-self: flex-end;
  border-radius: 20px;
  height: 42px;
  margin-left: 191px;
  position: relative;
  width: 149px;
}

.contact-us-141 {
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.title-88 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 106px;
  min-height: 73px;
}

.lorem-ipsum-dolor-si-310 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 30px;
  min-height: 38px;
  width: 646px;
}

.group-58-17 {
  align-items: flex-start;
  display: flex;
  margin-left: 80px;
  margin-top: 31px;
  min-width: 622px;
}

.overlap-group1-46 {
  border-radius: 20px;
  height: 89px;
  position: relative;
  width: 622px;
}

.group-58-18 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 20px;
  display: flex;
  height: 89px;
  justify-content: flex-end;
  left: 0;
  min-width: 622px;
  padding: 39.3px 25px;
  position: absolute;
  top: 0;
}

.group-57-9 {
  height: 10px;
  width: 18px;
}

.what-are-you-looking-for-7 {
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 303px;
}

