.insights-option-01 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2628px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.flex-row-38 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 45px;
  margin-right: 2.0px;
  margin-top: 48px;
  min-width: 1292px;
  position: relative;
}

.logo-57 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.contact-us-60 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 200px;
  margin-top: 1.0px;
  min-height: 22px;
  min-width: 94px;
}

.title-40 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 72px;
  margin-top: 54px;
  min-height: 73px;
}

.lorem-ipsum-dolor-si-139 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 75px;
  margin-top: 30px;
  min-height: 38px;
  width: 646px;
}

.frame-110 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 111px;
  margin-left: 3.0px;
  margin-top: 62px;
  min-height: 1647px;
  position: relative;
  width: 1295px;
}

.group-108 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 475px;
  position: relative;
  width: 1295px;
}

.frame-container-2 {
  align-items: flex-end;
  display: flex;
  height: 403px;
  min-width: 1295px;
  position: relative;
}

