.value-based-healthcare-3 {
  align-items: flex-start;
  display: flex;
  gap: 194px;
  height: 309px;
  margin-right: 73.0px;
  margin-top: 121px;
  min-width: 1217px;
}

.group-12-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 31px;
  min-height: 293px;
  position: relative;
  width: 549px;
}

.what-we-do-58 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 44px;
}

.ellipse-container-18 {
  height: 294px;
  position: relative;
  width: 474px;
}

.ellipse-4-7 {
  background-color: var(--greyslight);
  border-radius: 147px;
  height: 294px;
  left: 0;
  position: absolute;
  top: 0;
  width: 294px;
}

.ellipse-5-7 {
  background-color: var(--cultured-pearl);
  border-radius: 128.5px;
  height: 257px;
  left: 217px;
  position: absolute;
  top: 33px;
  width: 257px;
}

.value-based-healthcare-3.value-based-healthcare-4 {
  margin-right: 63.0px;
}

