.testimonials-42 {
  align-items: center;
  display: flex;
  height: 871px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 119px 200px;
}

.caret-circle-left-28 {
  height: 42px;
  margin-bottom: 9.0px;
  width: 42px;
}

.flex-col-85 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin-left: 10px;
  min-height: 512px;
  width: 1400px;
}

.our-clients-words-14 {
  letter-spacing: 0;
  line-height: 52px;
  min-width: 464px;
  text-align: center;
  white-space: nowrap;
}

.testimonial-list-12 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  height: 409px;
  min-width: 1400px;
  position: relative;
}

.caret-circle-right-44 {
  height: 42px;
  margin-bottom: 9.0px;
  margin-left: 18px;
  width: 42px;
}

.testimonials-42.testimonials-43 {
  margin-top: 240px;
}

