.frame-5-41 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  height: 60px;
  margin-right: 1.0px;
  margin-top: 110px;
  min-width: 225px;
  padding: 18px 37.5px;
}

.view-all-solutions {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.frame-5-41.frame-5-42 {
  margin-top: 111px;
}

