.group-16-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 70px;
  width: 277px;
}

.catalyst-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 25px;
}

.lorem-ipsum-dolor-si-220 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  opacity: 0.8;
  width: 273px;
}

