.partners-122 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 150px;
  min-height: 386px;
  width: 1301px;
}

.our-partners-13 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: -1px;
  min-height: 44px;
  min-width: 226px;
}

.lorem-ipsum-dolor-si-257 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 30px;
  min-height: 38px;
  width: 642px;
}

.frame-19-3 {
  align-items: flex-start;
  display: flex;
  gap: 61px;
  margin-top: 81px;
  min-width: 1301px;
}

.rectangle-5 {
  background-color: var(--alto);
  border-radius: 10px;
  height: 88px;
  width: 166px;
}

.become-a-partner-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 68px;
  min-height: 22px;
  min-width: 154px;
}

.partners-122.partners-123 {
  margin-top: 375px;
}

