.frame-5-1,
.frame-5-2,
.frame-5-3,
.frame-5-4,
.frame-5-5,
.frame-5-6,
.frame-5-7,
.frame-5-8,
.frame-5-9,
.frame-5-10,
.frame-5-11,
.frame-5-12,
.frame-5-13,
.frame-5-14,
.frame-5-15,
.frame-5-16,
.frame-5-17,
.frame-5-18,
.frame-5-19,
.frame-5-20,
.frame-5-21,
.frame-5-22,
.frame-5-23,
.frame-5-24,
.frame-5-25,
.frame-5-26,
.frame-5-27,
.frame-5-28,
.frame-5-29,
.frame-5-30,
.frame-5-31,
.frame-5-32,
.frame-5-33,
.frame-5-34,
.frame-5-35,
.frame-5-36,
.frame-5-37,
.frame-5-38,
.frame-5-39,
.frame-5-40 {
  align-items: flex-start;
  display: flex;
  min-width: 128px;
}

.publications-1,
.publications-2,
.publications-3,
.publications-4,
.publications-5,
.publications-6,
.publications-7,
.publications-8,
.publications-9,
.publications-10,
.publications-11,
.publications-12,
.publications-13,
.publications-14,
.publications-15,
.publications-16,
.publications-17,
.publications-18,
.publications-19,
.publications-20,
.publications-21,
.publications-22,
.publications-23,
.publications-24,
.publications-25,
.publications-26,
.publications-27,
.publications-28,
.publications-29,
.publications-30,
.publications-31,
.publications-32,
.publications-33,
.publications-34,
.publications-35,
.publications-36,
.publications-37,
.publications-38,
.publications-39,
.publications-40 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 104px;
}

.keyboard_arrow_down-60,
.keyboard_arrow_down-61,
.keyboard_arrow_down-62,
.keyboard_arrow_down-63,
.keyboard_arrow_down-64,
.keyboard_arrow_down-65,
.keyboard_arrow_down-66,
.keyboard_arrow_down-67,
.keyboard_arrow_down-68,
.keyboard_arrow_down-69,
.keyboard_arrow_down-70,
.keyboard_arrow_down-71,
.keyboard_arrow_down-72,
.keyboard_arrow_down-73,
.keyboard_arrow_down-74,
.keyboard_arrow_down-75,
.keyboard_arrow_down-76,
.keyboard_arrow_down-77,
.keyboard_arrow_down-78,
.keyboard_arrow_down-79,
.keyboard_arrow_down-80,
.keyboard_arrow_down-81,
.keyboard_arrow_down-82,
.keyboard_arrow_down-83,
.keyboard_arrow_down-84,
.keyboard_arrow_down-85,
.keyboard_arrow_down-86,
.keyboard_arrow_down-87,
.keyboard_arrow_down-88,
.keyboard_arrow_down-89,
.keyboard_arrow_down-90,
.keyboard_arrow_down-91,
.keyboard_arrow_down-92,
.keyboard_arrow_down-93,
.keyboard_arrow_down-94,
.keyboard_arrow_down-95,
.keyboard_arrow_down-96,
.keyboard_arrow_down-97,
.keyboard_arrow_down-98,
.keyboard_arrow_down-99 {
  height: 24px;
  width: 24px;
}

