.frame-44-5 {
  align-items: flex-start;
  display: flex;
  gap: 147px;
  height: 28px;
  left: 4px;
  min-width: 1288px;
  position: absolute;
  top: 0;
}

.ellipse-27 {
  background-color: var(--alto);
  border-radius: 14px;
  height: 28px;
  width: 28px;
}

.frame-44-5.frame-44-6 {
  left: 0;
}

