.frame-6-42 {
  align-items: center;
  display: flex;
  margin-left: 51px;
  min-width: 110px;
}

.about-us-57 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 25px;
  min-width: 78px;
}

.caret-circle-down-106 {
  height: 32px;
  width: 32px;
}

.frame-6-42.frame-6-45 {
  margin-left: unset;
}

