.footer-4 {
  align-items: flex-start;
  display: flex;
  height: 407px;
  margin-left: 2.0px;
  margin-top: 100px;
  min-width: 1440px;
  position: relative;
}

.footer-4.footer-7 {
  margin-top: 107px;
}

.footer-4.footer-8,
.footer-4.footer-10 {
  margin-top: 101px;
}

.footer-4.footer-11 {
  margin-top: 115px;
}

.footer-4.footer-13 {
  margin-left: 1px;
  margin-top: 94px;
}

.footer-4.footer-15 {
  margin-top: 206px;
}

.footer-4.footer-17 {
  margin-top: 185px;
}

.footer-4.footer-18 {
  margin-top: 150px;
}

.footer-4.footer-19,
.footer-4.footer-20,
.footer-4.footer-21,
.footer-4.footer-22 {
  margin-left: 1px;
  margin-top: 115px;
}

.footer-4.footer-23 {
  margin-left: 1px;
  margin-top: 83px;
}

