.card-testimonials,
.card-testimonials-1,
.card-testimonials-2 {
  background-color: var(--greyswhite);
  border-radius: 20px;
  height: 409px;
  position: relative;
  width: 332px;
}

.flex-col,
.flex-col-2,
.flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 30px;
  min-height: 330px;
  position: relative;
  top: 39px;
  width: 273px;
}

.flex-row,
.flex-row-1,
.flex-row-2 {
  align-items: center;
  display: flex;
  gap: 59px;
  height: 38px;
  min-width: 273px;
}

.flex-col-1,
.flex-col-3,
.flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 38px;
  width: 121px;
}

.name,
.name-1,
.name-2 {
  letter-spacing: 0;
  line-height: 17.6px;
  min-height: 18px;
  white-space: nowrap;
}

.ceo-pharma-co,
.ceo-pharma-co-1,
.ceo-pharma-co-2 {
  letter-spacing: 0;
  line-height: 15.4px;
  white-space: nowrap;
}

.image-28,
.image-28-1,
.image-28-2 {
  height: 19px;
  margin-bottom: 9.0px;
  object-fit: cover;
  width: 93px;
}

.super-easy-process,
.super-easy-process-1,
.super-easy-process-2 {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 30px;
  white-space: nowrap;
}

