.card-2-4 {
  align-items: center;
  background-color: var(--primaryyellow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 334px;
  opacity: 0.9;
  padding: 65.5px 0;
  width: 334px;
}

.flask-4 {
  height: 160px;
  width: 160px;
}

.catalyst-telemed-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  min-width: 209px;
  text-align: center;
}

.card-2-4.card-2-5 {
  border-radius: 20px 0px 0px 20px;
  left: 0;
  position: absolute;
  top: 0;
}

