.frame-3-66,
.frame-3-67,
.frame-3-68,
.frame-3-69,
.frame-3-70,
.frame-3-71,
.frame-3-72,
.frame-3-73,
.frame-3-74,
.frame-3-75,
.frame-3-76,
.frame-3-77,
.frame-3-78,
.frame-3-79,
.frame-3-80,
.frame-3-81,
.frame-3-82,
.frame-3-83 {
  align-items: center;
  display: flex;
  min-width: 114px;
}

.solutions-69,
.solutions-70,
.solutions-71,
.solutions-72,
.solutions-73,
.solutions-74,
.solutions-75,
.solutions-76,
.solutions-77,
.solutions-78,
.solutions-79,
.solutions-80,
.solutions-81,
.solutions-82,
.solutions-83,
.solutions-84,
.solutions-85,
.solutions-86 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 25px;
  min-width: 82px;
}

.caret-circle-down-34,
.caret-circle-down-35,
.caret-circle-down-36,
.caret-circle-down-37,
.caret-circle-down-38,
.caret-circle-down-39,
.caret-circle-down-40,
.caret-circle-down-41,
.caret-circle-down-42,
.caret-circle-down-43,
.caret-circle-down-44,
.caret-circle-down-45,
.caret-circle-down-46,
.caret-circle-down-47,
.caret-circle-down-48,
.caret-circle-down-49,
.caret-circle-down-50,
.caret-circle-down-51 {
  height: 32px;
  width: 32px;
}

