.flex-row-68-item-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 122px;
  width: 577px;
}

.for {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 44px;
}

.lorem-ipsum-dolor-si-278 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  width: 577px;
}

