.frame-6-2,
.frame-6-3,
.frame-6-4,
.frame-6-5,
.frame-6-6,
.frame-6-7,
.frame-6-8,
.frame-6-9,
.frame-6-10,
.frame-6-11,
.frame-6-12,
.frame-6-13,
.frame-6-14,
.frame-6-15,
.frame-6-16,
.frame-6-17,
.frame-6-18,
.frame-6-19,
.frame-6-20,
.frame-6-21,
.frame-6-22,
.frame-6-23,
.frame-6-24,
.frame-6-25,
.frame-6-26,
.frame-6-27,
.frame-6-28,
.frame-6-29,
.frame-6-30,
.frame-6-31,
.frame-6-32,
.frame-6-33,
.frame-6-34,
.frame-6-35,
.frame-6-36,
.frame-6-37,
.frame-6-38,
.frame-6-39,
.frame-6-40,
.frame-6-41 {
  align-items: center;
  display: flex;
  min-width: 101px;
}

.about-us-17,
.about-us-18,
.about-us-19,
.about-us-20,
.about-us-21,
.about-us-22,
.about-us-23,
.about-us-24,
.about-us-25,
.about-us-26,
.about-us-27,
.about-us-28,
.about-us-29,
.about-us-30,
.about-us-31,
.about-us-32,
.about-us-33,
.about-us-34,
.about-us-35,
.about-us-36,
.about-us-37,
.about-us-38,
.about-us-39,
.about-us-40,
.about-us-41,
.about-us-42,
.about-us-43,
.about-us-44,
.about-us-45,
.about-us-46,
.about-us-47,
.about-us-48,
.about-us-49,
.about-us-50,
.about-us-51,
.about-us-52,
.about-us-53,
.about-us-54,
.about-us-55,
.about-us-56 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 77px;
}

.keyboard_arrow_down-100,
.keyboard_arrow_down-101,
.keyboard_arrow_down-102,
.keyboard_arrow_down-103,
.keyboard_arrow_down-104,
.keyboard_arrow_down-105,
.keyboard_arrow_down-106,
.keyboard_arrow_down-107,
.keyboard_arrow_down-108,
.keyboard_arrow_down-109,
.keyboard_arrow_down-110,
.keyboard_arrow_down-111,
.keyboard_arrow_down-112,
.keyboard_arrow_down-113,
.keyboard_arrow_down-114,
.keyboard_arrow_down-115,
.keyboard_arrow_down-116,
.keyboard_arrow_down-117,
.keyboard_arrow_down-118,
.keyboard_arrow_down-119,
.keyboard_arrow_down-120,
.keyboard_arrow_down-121,
.keyboard_arrow_down-122,
.keyboard_arrow_down-123,
.keyboard_arrow_down-124,
.keyboard_arrow_down-125,
.keyboard_arrow_down-126,
.keyboard_arrow_down-127,
.keyboard_arrow_down-128,
.keyboard_arrow_down-129,
.keyboard_arrow_down-130,
.keyboard_arrow_down-131,
.keyboard_arrow_down-132,
.keyboard_arrow_down-133,
.keyboard_arrow_down-134,
.keyboard_arrow_down-135,
.keyboard_arrow_down-136,
.keyboard_arrow_down-137,
.keyboard_arrow_down-138,
.keyboard_arrow_down-139 {
  height: 24px;
  width: 24px;
}

