.frame-89-3 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  height: 42px;
  margin-left: 76px;
  margin-top: 30px;
  min-width: 149px;
  padding: 9px 52px;
}

.place-36 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.frame-89-3.frame-89-4 {
  margin-left: 80px;
}

