.ghost-_breadcrumb_item-18,
.ghost-_breadcrumb_item-19,
.ghost-_breadcrumb_item-20 {
  align-items: flex-start;
  background-color: #ffffff00;
  border-radius: 4px;
  display: flex;
  height: 24px;
  min-width: 85px;
  padding: 0 7.5px;
}

.solutions-63,
.solutions-64,
.solutions-65 {
  letter-spacing: 0;
  line-height: 160px;
  margin-top: -2px;
  min-height: 26px;
  white-space: nowrap;
}

