.ghost-_breadcrumb_item-22,
.ghost-_breadcrumb_item-23 {
  align-items: flex-start;
  background-color: #ffffff00;
  border-radius: 4px;
  display: flex;
  gap: 8px;
  height: 24px;
  min-width: 162px;
  padding: 0 6px;
}

.icon-10,
.icon-11 {
  align-self: center;
  height: 9px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  text-align: center;
  white-space: nowrap;
  width: 8px;
}

.population-health-17,
.population-health-18 {
  letter-spacing: 0;
  line-height: 160px;
  margin-top: -2px;
  min-height: 26px;
  white-space: nowrap;
}

