.group-44 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 6.0px;
  min-width: 28px;
}

.line-8 {
  height: 16px;
  width: 14px;
}

.group-44.group-43-5 {
  margin-top: 7.0px;
}

.group-44.group-43-6 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  min-width: 28px;
}

