.our-partners2 {
  align-items: center;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2137px;
  position: relative;
  width: 1440px;
}

.flex-row-69 {
  align-items: center;
  display: flex;
  height: 45px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1281px;
}

.logo-121 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.menu-59 {
  align-items: flex-start;
  display: flex;
  gap: 48px;
  margin-left: 184px;
  margin-top: 5.0px;
  min-width: 653px;
  position: relative;
}

.frame-4-43 {
  align-items: flex-start;
  display: flex;
  min-width: 177px;
}

.partners-clients-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 153px;
}

.keyboard_arrow_down-144 {
  height: 24px;
  width: 24px;
}

.contact-us-126 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 218px;
  margin-top: 1.0px;
  min-height: 22px;
  min-width: 94px;
}

.flex-row-70 {
  align-items: center;
  display: flex;
  gap: 657px;
  height: 73px;
  margin-right: 6.0px;
  margin-top: 106px;
  min-width: 1274px;
}

.title-76 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 73px;
  min-width: 377px;
}

.group-34-4 {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  height: 44px;
  margin-top: 1.0px;
  min-width: 240px;
}

.our-clients-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 44px;
  min-width: 183px;
}

.arrow-1-5 {
  align-self: center;
  height: 1px;
  margin-top: 5.0px;
  width: 49px;
}

.lorem-ipsum-dolor-si-279 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 30px;
  min-height: 38px;
  width: 646px;
}

