.cards-18,
.cards-19,
.cards-20 {
  align-items: flex-start;
  display: inline-flex;
  gap: 20px;
  margin-top: 168px;
  position: relative;
}

.card-17,
.card-18,
.card-19 {
  background-color: var(--parchment);
  border-radius: 20px;
  height: 192px;
  position: relative;
  width: 264px;
}

.overlap-group-6,
.overlap-group-7,
.overlap-group-8 {
  height: 111px;
  left: 74px;
  position: relative;
  top: 33px;
  width: 117px;
}

.professionals,
.countries,
.professionals-1,
.countries-1,
.professionals-2,
.countries-2 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
}

.number,
.number-4,
.number-8 {
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.overlap-group1,
.overlap-group1-1,
.overlap-group1-2 {
  height: 145px;
  left: 48px;
  position: relative;
  top: -1px;
  width: 204px;
}

.years-in-healthcare,
.years-in-healthcare-1,
.years-in-healthcare-2 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 120px;
}

.number-1,
.number-5,
.number-9 {
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 34px;
}

.frame-184967,
.frame-184967-1,
.frame-184967-2 {
  height: 100px;
  left: 104px;
  position: absolute;
  top: 0;
  width: 100px;
}

.overlap-group2,
.overlap-group2-1,
.overlap-group2-2 {
  height: 111px;
  left: 55px;
  position: relative;
  top: 33px;
  width: 155px;
}

.fundraised,
.fundraised-1,
.fundraised-2 {
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
}

.x10-m,
.number-2,
.x10-m-1,
.number-6,
.x10-m-2,
.number-10 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.overlap-group3,
.overlap-group3-1,
.overlap-group3-2 {
  height: 111px;
  left: 93px;
  position: relative;
  top: 33px;
  width: 78px;
}

.partners-17,
.partners-18,
.partners-19 {
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 86px;
}

.overlap-group4,
.overlap-group4-1,
.overlap-group4-2 {
  height: 111px;
  left: 91px;
  position: relative;
  top: 33px;
  width: 83px;
}

.number-3,
.number-7,
.number-11 {
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

