.contact-us-solution-selected-2 {
  align-items: flex-start;
  background-color: var(--greyslight-beige);
  border: 1px none;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.banner-6 {
  height: 591px;
  position: relative;
  width: 1920px;
}

.overlap-group-13 {
  height: 591px;
  position: relative;
}

.inquiry-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 120px 260px;
  position: relative;
  width: 1920px;
}

.place-an-inquiry-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.form-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  position: relative;
}

.frame-90-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.group-71-1 {
  background-color: var(--greyswhite);
  border: 2px solid;
  border-color: var(--primarybeige);
  border-radius: 20px;
  height: 89px;
  position: relative;
  width: 633px;
}

.group-59-4 {
  align-items: center;
  display: flex;
  gap: 117px;
  height: 33px;
  left: 26px;
  min-width: 577px;
  position: relative;
  top: 28px;
}

.what-solutions-are-you-looking-for {
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  width: 438px;
}

.caret-down-4 {
  height: 20px;
  margin-bottom: 3.0px;
  width: 20px;
}

