.catalyst-s4-4 {
  align-items: flex-start;
  background-color: var(--greyslight-beige);
  border: 1px none;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.banner-15 {
  height: 591px;
  position: relative;
  width: 1920px;
}

.overlap-group-27 {
  height: 591px;
  position: relative;
}

.navbar {
  align-items: center;
  display: inline-flex;
  gap: 3px;
  left: 260px;
  position: absolute;
  top: 238px;
}

.navbar-link-place {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.caret-circle-right-26 {
  height: 32px;
  position: relative;
  width: 32px;
}

.navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.navbar-link-catalyst-s4 {
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.6;
  position: relative;
  width: fit-content;
}

.frame-107-9 {
  align-items: center;
  background-color: var(--primarybeige);
  display: flex;
  height: 311px;
  left: 0;
  min-width: 1394px;
  padding: 0 260px;
  position: absolute;
  top: 280px;
}

.why {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 88px;
  padding: 120px 260px;
  position: relative;
  width: 1920px;
}

.why-1 {
  height: 761px;
  position: relative;
  width: 1247px;
}

.flex-col-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 762px;
  position: relative;
  top: -1px;
}

.why-catalyst-s4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 54px;
  width: 703px;
}

.today-pathogen-detec {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 2px;
  margin-top: 30px;
  min-height: 60px;
  width: 868px;
}

.group-92 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 79px;
  min-height: 539px;
  width: 1094px;
}

.group-89 {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  height: 257px;
  min-width: 1094px;
}

.overlap-group-28 {
  align-items: flex-start;
  background-color: var(--parchment-3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 257px;
  padding: 19px 29px;
  width: 348px;
}

.number-15 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 82px;
}

.simultaneous-review {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  text-align: center;
  width: 289px;
}

.overlap-group-26 {
  align-items: flex-start;
  background-color: var(--primarybeige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 257px;
  padding: 19px 29px;
  width: 348px;
}

.diagnostic-decision-support,
.integrate-into-existing-workflow,
.no-hardware-installation-needed {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 1.0px;
  min-height: 64px;
  text-align: center;
  width: 287px;
}

.near-real-time-update {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 1.0px;
  text-align: center;
  width: 287px;
}

.group-90 {
  align-items: flex-start;
  display: flex;
  gap: 25px;
  height: 257px;
  margin-left: 57.0px;
  min-width: 721px;
}

.how-it-works {
  background-color: var(--primarygreen);
  height: 815px;
  position: relative;
  width: 1920px;
}

.flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 264px;
  min-height: 584px;
  position: absolute;
  top: 108px;
  width: 1215px;
}

.how-it-works-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 54px;
  width: 729px;
}

.early-pathogen-detec {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 30px;
  min-height: 60px;
  width: 871px;
}

.overlap-group3-4 {
  align-self: flex-end;
  height: 365px;
  margin-top: 75px;
  position: relative;
  width: 1179px;
}

.group-94 {
  align-items: center;
  display: flex;
  gap: 137px;
  height: 365px;
  left: 0;
  min-width: 1179px;
  position: absolute;
  top: 0;
}

.ellipse-29 {
  height: 365px;
  width: 365px;
}

.collect-patient-symp {
  letter-spacing: 0;
  line-height: 48px;
  margin-bottom: 53.0px;
  min-height: 144px;
  width: 675px;
}

.text-6-1 {
  left: 494px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 24px;
}

.who-use {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 120px 260px;
  position: relative;
  width: 1920px;
}

.who-use-this,
.industry-publications {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 729px;
}

.clients-18 {
  height: 253px;
  position: relative;
  width: 1315px;
}

.client-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  left: 0;
  min-height: 253px;
  position: absolute;
  top: 0;
  width: 615px;
}

.client {
  align-items: center;
  display: flex;
  gap: 42px;
  min-width: 615px;
  position: relative;
}

.group-95 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 29px 2px;
}

.image-27 {
  height: 41px;
  object-fit: cover;
  width: 100px;
}

.group-95-1 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 17px 7.4px;
}

.image-30 {
  height: 70px;
  object-fit: cover;
  width: 90px;
}

.client-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  left: 700px;
  min-height: 253px;
  position: absolute;
  top: 0;
  width: 615px;
}

.group-95-2 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 33px 2px;
}

.image-29 {
  height: 38px;
  object-fit: cover;
  width: 95px;
}

.group-95-3 {
  align-items: flex-end;
  background-color: var(--greyswhite);
  border-radius: 10px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  min-width: 105px;
  padding: 27px 7px;
}

.image-31 {
  height: 50px;
  object-fit: cover;
  width: 90px;
}

.catalyst-s4-item {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 120px 260px;
  position: relative;
  width: 1920px;
}

.other-solutions-in-population-health {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 813px;
}

.card-58 {
  align-items: center;
  background-color: var(--primarybeige);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 334px;
  justify-content: center;
  opacity: 0.9;
  padding: 20px;
  position: relative;
  width: 334px;
}

.flask-3 {
  height: 160px;
  position: relative;
  width: 160px;
}

.catalyst-research-2 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

