.frame-88-17 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 169px;
  width: 1237px;
}

.title-51 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 136px;
  min-width: 1237px;
  text-align: center;
}

.rebuild-the-healthca-6 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  text-align: center;
  width: 785px;
}

.frame-88-17.frame-88-21 {
  left: 0;
  position: absolute;
  top: 223px;
}

