.frame-56,
.frame-56-1 {
  align-items: flex-start;
  display: flex;
  gap: 344px;
  height: 89px;
  margin-left: 80px;
  margin-top: 50px;
  padding: 29px 32px;
  width: 729px;
}

.what-are-you-looking-for-4,
.what-are-you-looking-for-5 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 30px;
  width: 303px;
}

.vector-347,
.vector-348 {
  align-self: center;
  height: 10px;
  margin-top: 0.73px;
  width: 18px;
}

