.frame-3-20,
.frame-3-21,
.frame-3-22,
.frame-3-23,
.frame-3-24,
.frame-3-25,
.frame-3-26,
.frame-3-27,
.frame-3-28,
.frame-3-29,
.frame-3-30,
.frame-3-31,
.frame-3-32,
.frame-3-33,
.frame-3-34,
.frame-3-35,
.frame-3-36,
.frame-3-37,
.frame-3-38,
.frame-3-39,
.frame-3-40,
.frame-3-41,
.frame-3-42,
.frame-3-43,
.frame-3-44,
.frame-3-45,
.frame-3-46,
.frame-3-47,
.frame-3-48,
.frame-3-49,
.frame-3-50,
.frame-3-51,
.frame-3-52,
.frame-3-53,
.frame-3-54,
.frame-3-55,
.frame-3-56,
.frame-3-57,
.frame-3-58,
.frame-3-59 {
  align-items: flex-start;
  display: flex;
  min-width: 103px;
}

.solutions-21,
.solutions-22,
.solutions-23,
.solutions-24,
.solutions-25,
.solutions-26,
.solutions-27,
.solutions-28,
.solutions-29,
.solutions-30,
.solutions-31,
.solutions-32,
.solutions-33,
.solutions-34,
.solutions-35,
.solutions-36,
.solutions-37,
.solutions-38,
.solutions-39,
.solutions-40,
.solutions-41,
.solutions-42,
.solutions-43,
.solutions-44,
.solutions-45,
.solutions-46,
.solutions-47,
.solutions-48,
.solutions-49,
.solutions-50,
.solutions-51,
.solutions-52,
.solutions-53,
.solutions-54,
.solutions-55,
.solutions-56,
.solutions-57,
.solutions-58,
.solutions-59,
.solutions-60 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 79px;
}

.keyboard_arrow_down-20,
.keyboard_arrow_down-21,
.keyboard_arrow_down-22,
.keyboard_arrow_down-23,
.keyboard_arrow_down-24,
.keyboard_arrow_down-25,
.keyboard_arrow_down-26,
.keyboard_arrow_down-27,
.keyboard_arrow_down-28,
.keyboard_arrow_down-29,
.keyboard_arrow_down-30,
.keyboard_arrow_down-31,
.keyboard_arrow_down-32,
.keyboard_arrow_down-33,
.keyboard_arrow_down-34,
.keyboard_arrow_down-35,
.keyboard_arrow_down-36,
.keyboard_arrow_down-37,
.keyboard_arrow_down-38,
.keyboard_arrow_down-39,
.keyboard_arrow_down-40,
.keyboard_arrow_down-41,
.keyboard_arrow_down-42,
.keyboard_arrow_down-43,
.keyboard_arrow_down-44,
.keyboard_arrow_down-45,
.keyboard_arrow_down-46,
.keyboard_arrow_down-47,
.keyboard_arrow_down-48,
.keyboard_arrow_down-49,
.keyboard_arrow_down-50,
.keyboard_arrow_down-51,
.keyboard_arrow_down-52,
.keyboard_arrow_down-53,
.keyboard_arrow_down-54,
.keyboard_arrow_down-55,
.keyboard_arrow_down-56,
.keyboard_arrow_down-57,
.keyboard_arrow_down-58,
.keyboard_arrow_down-59 {
  height: 24px;
  width: 24px;
}

