.group-56,
.group-56-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 80px;
  margin-top: 31px;
  min-width: 622px;
}

.group-58-10,
.group-58-11 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border-radius: 20px;
  display: flex;
  gap: 244px;
  height: 89px;
  justify-content: flex-end;
  min-width: 622px;
  padding: 29px 25px;
}

.solutions-94,
.solutions-95 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 30px;
  width: 303px;
}

.group-57-2,
.group-57-3 {
  align-self: center;
  height: 10px;
  margin-top: 0.73px;
  width: 18px;
}

