.team-list-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 61px;
  margin-left: 3.0px;
  margin-top: 38px;
  min-height: 1178px;
  position: relative;
  width: 1287px;
}

.team-list-1.team-list-2 {
  left: 78px;
  margin-left: unset;
  margin-top: unset;
  position: absolute;
  top: 545px;
}

