.group-34 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  height: 44px;
  margin-bottom: 78.0px;
  min-width: 226px;
}

.our-story-59 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 44px;
  min-width: 160px;
}

.arrow-1-1 {
  align-self: center;
  height: 1px;
  margin-top: 5.0px;
  width: 49px;
}

.group-34.group-34-1 {
  left: 1140px;
  margin-bottom: unset;
  position: absolute;
  top: 300px;
}

.group-34.group-34-2 {
  margin-bottom: unset;
}

