.frame-107,
.frame-108,
.frame-107-1,
.frame-107-2,
.frame-108-1,
.frame-107-3,
.frame-107-4,
.banner-1,
.frame-107-5,
.frame-107-6,
.frame-107-7,
.frame-108-2,
.frame-107-8 {
  align-items: flex-end;
  background-color: var(--primarybeige);
  display: flex;
  height: 311px;
  left: 0;
  min-width: 1394px;
  padding: 83px 260px;
  position: absolute;
  top: 280px;
}

