.group-58-2 {
  background-color: var(--greyswhite);
  border: 2px solid;
  border-color: var(--primarybeige);
  border-radius: 20px;
  height: 89px;
  position: relative;
  width: 633px;
}

.group-59-5 {
  align-items: center;
  display: flex;
  gap: 215px;
  height: 33px;
  left: 26px;
  min-width: 577px;
  position: relative;
  top: 28px;
}

.what-are-you-looking-for {
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  width: 340px;
}

.caret-down-5 {
  height: 20px;
  margin-bottom: 3.0px;
  width: 20px;
}

.group-58-2.group-58-3 {
  border-color: var(--primaryyellow);
}

