.frame-28,
.frame-28-1,
.frame-28-2,
.frame-28-3,
.frame-28-4,
.frame-28-5,
.frame-28-6,
.frame-28-7,
.frame-28-8,
.frame-28-9,
.frame-28-10,
.frame-28-11,
.frame-28-12,
.frame-28-13,
.frame-28-14,
.frame-28-15,
.frame-28-16,
.frame-28-17,
.frame-28-18,
.frame-28-19,
.frame-28-20,
.frame-28-21,
.frame-28-22,
.frame-28-23,
.frame-28-24,
.frame-28-25,
.frame-28-26,
.frame-28-27,
.frame-28-28,
.frame-28-29,
.frame-28-30,
.frame-28-31,
.frame-28-32,
.frame-28-33,
.frame-28-34,
.frame-28-35,
.frame-28-36,
.frame-28-37,
.frame-28-38,
.frame-28-39 {
  align-items: flex-start;
  display: flex;
  gap: 62px;
  height: 253px;
  margin-bottom: 32.0px;
  min-width: 668px;
}

.group-22,
.group-22-1,
.group-22-2,
.group-22-3,
.group-22-4,
.group-22-5,
.group-22-6,
.group-22-7,
.group-22-8,
.group-22-9,
.group-22-10,
.group-22-11,
.group-22-12,
.group-22-13,
.group-22-14,
.group-22-15,
.group-22-16,
.group-22-17,
.group-22-18,
.group-22-19,
.group-22-20,
.group-22-21,
.group-22-22,
.group-22-23,
.group-22-24,
.group-22-25,
.group-22-26,
.group-22-27,
.group-22-28,
.group-22-29,
.group-22-30,
.group-22-31,
.group-22-32,
.group-22-33,
.group-22-34,
.group-22-35,
.group-22-36,
.group-22-37,
.group-22-38,
.group-22-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 97px;
  width: 94px;
}

.who-we-are-17,
.our-story-19,
.what-we-do-18,
.who-we-work-with-17,
.clients-39,
.how-we-can-help-17,
.fa-qs-17,
.who-we-are-18,
.our-story-20,
.what-we-do-19,
.who-we-work-with-18,
.clients-40,
.how-we-can-help-18,
.fa-qs-18,
.who-we-are-19,
.our-story-21,
.what-we-do-20,
.who-we-work-with-19,
.clients-41,
.how-we-can-help-19,
.fa-qs-19,
.who-we-are-20,
.our-story-22,
.what-we-do-21,
.who-we-work-with-20,
.clients-42,
.how-we-can-help-20,
.fa-qs-20,
.who-we-are-21,
.our-story-23,
.what-we-do-22,
.who-we-work-with-21,
.clients-43,
.how-we-can-help-21,
.fa-qs-21,
.who-we-are-22,
.our-story-24,
.what-we-do-23,
.who-we-work-with-22,
.clients-44,
.how-we-can-help-22,
.fa-qs-22,
.who-we-are-23,
.our-story-25,
.what-we-do-24,
.who-we-work-with-23,
.clients-45,
.how-we-can-help-23,
.fa-qs-23,
.who-we-are-24,
.our-story-26,
.what-we-do-25,
.who-we-work-with-24,
.clients-46,
.how-we-can-help-24,
.fa-qs-24,
.who-we-are-25,
.our-story-27,
.what-we-do-26,
.who-we-work-with-25,
.clients-47,
.how-we-can-help-25,
.fa-qs-25,
.who-we-are-26,
.our-story-28,
.what-we-do-27,
.who-we-work-with-26,
.clients-48,
.how-we-can-help-26,
.fa-qs-26,
.who-we-are-27,
.our-story-29,
.what-we-do-28,
.who-we-work-with-27,
.clients-49,
.how-we-can-help-27,
.fa-qs-27,
.who-we-are-28,
.our-story-30,
.what-we-do-29,
.who-we-work-with-28,
.clients-50,
.how-we-can-help-28,
.fa-qs-28,
.who-we-are-29,
.our-story-31,
.what-we-do-30,
.who-we-work-with-29,
.clients-51,
.how-we-can-help-29,
.fa-qs-29,
.who-we-are-30,
.our-story-32,
.what-we-do-31,
.who-we-work-with-30,
.clients-52,
.how-we-can-help-30,
.fa-qs-30,
.who-we-are-31,
.our-story-33,
.what-we-do-32,
.who-we-work-with-31,
.clients-53,
.how-we-can-help-31,
.fa-qs-31,
.who-we-are-32,
.our-story-34,
.what-we-do-33,
.who-we-work-with-32,
.clients-54,
.how-we-can-help-32,
.fa-qs-32,
.who-we-are-33,
.our-story-35,
.what-we-do-34,
.who-we-work-with-33,
.clients-55,
.how-we-can-help-33,
.fa-qs-33,
.who-we-are-34,
.our-story-36,
.what-we-do-35,
.who-we-work-with-34,
.clients-56,
.how-we-can-help-34,
.fa-qs-34,
.who-we-are-35,
.our-story-37,
.what-we-do-36,
.who-we-work-with-35,
.clients-57,
.how-we-can-help-35,
.fa-qs-35,
.who-we-are-36,
.our-story-38,
.what-we-do-37,
.who-we-work-with-36,
.clients-58,
.how-we-can-help-36,
.fa-qs-36,
.who-we-are-37,
.our-story-39,
.what-we-do-38,
.who-we-work-with-37,
.clients-59,
.how-we-can-help-37,
.fa-qs-37,
.who-we-are-38,
.our-story-40,
.what-we-do-39,
.who-we-work-with-38,
.clients-60,
.how-we-can-help-38,
.fa-qs-38,
.who-we-are-39,
.our-story-41,
.what-we-do-40,
.who-we-work-with-39,
.clients-61,
.how-we-can-help-39,
.fa-qs-39,
.who-we-are-40,
.our-story-42,
.what-we-do-41,
.who-we-work-with-40,
.clients-62,
.how-we-can-help-40,
.fa-qs-40,
.who-we-are-41,
.our-story-43,
.what-we-do-42,
.who-we-work-with-41,
.clients-63,
.how-we-can-help-41,
.fa-qs-41,
.who-we-are-42,
.our-story-44,
.what-we-do-43,
.who-we-work-with-42,
.clients-64,
.how-we-can-help-42,
.fa-qs-42,
.who-we-are-43,
.our-story-45,
.what-we-do-44,
.who-we-work-with-43,
.clients-65,
.how-we-can-help-43,
.fa-qs-43,
.who-we-are-44,
.our-story-46,
.what-we-do-45,
.who-we-work-with-44,
.clients-66,
.how-we-can-help-44,
.fa-qs-44,
.who-we-are-45,
.our-story-47,
.what-we-do-46,
.who-we-work-with-45,
.clients-67,
.how-we-can-help-45,
.fa-qs-45,
.who-we-are-46,
.our-story-48,
.what-we-do-47,
.who-we-work-with-46,
.clients-68,
.how-we-can-help-46,
.fa-qs-46,
.who-we-are-47,
.our-story-49,
.what-we-do-48,
.who-we-work-with-47,
.clients-69,
.how-we-can-help-47,
.fa-qs-47,
.who-we-are-48,
.our-story-50,
.what-we-do-49,
.who-we-work-with-48,
.clients-70,
.how-we-can-help-48,
.fa-qs-48,
.who-we-are-49,
.our-story-51,
.what-we-do-50,
.who-we-work-with-49,
.clients-71,
.how-we-can-help-49,
.fa-qs-49,
.who-we-are-50,
.our-story-52,
.what-we-do-51,
.who-we-work-with-50,
.clients-72,
.how-we-can-help-50,
.fa-qs-50,
.who-we-are-51,
.our-story-53,
.what-we-do-52,
.who-we-work-with-51,
.clients-73,
.how-we-can-help-51,
.fa-qs-51,
.who-we-are-52,
.our-story-54,
.what-we-do-53,
.who-we-work-with-52,
.clients-74,
.how-we-can-help-52,
.fa-qs-52,
.who-we-are-53,
.our-story-55,
.what-we-do-54,
.who-we-work-with-53,
.clients-75,
.how-we-can-help-53,
.fa-qs-53,
.who-we-are-54,
.our-story-56,
.what-we-do-55,
.who-we-work-with-54,
.clients-76,
.how-we-can-help-54,
.fa-qs-54,
.who-we-are-55,
.our-story-57,
.what-we-do-56,
.who-we-work-with-55,
.clients-77,
.how-we-can-help-55,
.fa-qs-55,
.who-we-are-56,
.our-story-58,
.what-we-do-57,
.who-we-work-with-56,
.clients-78,
.how-we-can-help-56,
.fa-qs-56 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 19px;
  white-space: nowrap;
}

.frame-24,
.frame-24-1,
.frame-24-2,
.frame-24-3,
.frame-24-4,
.frame-24-5,
.frame-24-6,
.frame-24-7,
.frame-24-8,
.frame-24-9,
.frame-24-10,
.frame-24-11,
.frame-24-12,
.frame-24-13,
.frame-24-14,
.frame-24-15,
.frame-24-16,
.frame-24-17,
.frame-24-18,
.frame-24-19,
.frame-24-20,
.frame-24-21,
.frame-24-22,
.frame-24-23,
.frame-24-24,
.frame-24-25,
.frame-24-26,
.frame-24-27,
.frame-24-28,
.frame-24-29,
.frame-24-30,
.frame-24-31,
.frame-24-32,
.frame-24-33,
.frame-24-34,
.frame-24-35,
.frame-24-36,
.frame-24-37,
.frame-24-38,
.frame-24-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 58px;
  width: 71px;
}

.our-team-18,
.solution-3-18,
.solution-4-17,
.partners-49,
.testimonials-2,
.terms-conditions-17,
.privacy-policy-17,
.get-in-touch-17,
.our-team-19,
.solution-3-19,
.solution-4-18,
.partners-50,
.testimonials-3,
.terms-conditions-18,
.privacy-policy-18,
.get-in-touch-18,
.our-team-20,
.solution-3-20,
.solution-4-19,
.partners-51,
.testimonials-4,
.terms-conditions-19,
.privacy-policy-19,
.get-in-touch-19,
.our-team-21,
.solution-3-21,
.solution-4-20,
.partners-52,
.testimonials-5,
.terms-conditions-20,
.privacy-policy-20,
.get-in-touch-20,
.our-team-22,
.solution-3-22,
.solution-4-21,
.partners-53,
.testimonials-6,
.terms-conditions-21,
.privacy-policy-21,
.get-in-touch-21,
.our-team-23,
.solution-3-23,
.solution-4-22,
.partners-54,
.testimonials-7,
.terms-conditions-22,
.privacy-policy-22,
.get-in-touch-22,
.our-team-24,
.solution-3-24,
.solution-4-23,
.partners-55,
.testimonials-8,
.terms-conditions-23,
.privacy-policy-23,
.get-in-touch-23,
.our-team-25,
.solution-3-25,
.solution-4-24,
.partners-56,
.testimonials-9,
.terms-conditions-24,
.privacy-policy-24,
.get-in-touch-24,
.our-team-26,
.solution-3-26,
.solution-4-25,
.partners-57,
.testimonials-10,
.terms-conditions-25,
.privacy-policy-25,
.get-in-touch-25,
.our-team-27,
.solution-3-27,
.solution-4-26,
.partners-58,
.testimonials-11,
.terms-conditions-26,
.privacy-policy-26,
.get-in-touch-26,
.our-team-28,
.solution-3-28,
.solution-4-27,
.partners-59,
.testimonials-12,
.terms-conditions-27,
.privacy-policy-27,
.get-in-touch-27,
.our-team-29,
.solution-3-29,
.solution-4-28,
.partners-60,
.testimonials-13,
.terms-conditions-28,
.privacy-policy-28,
.get-in-touch-28,
.our-team-30,
.solution-3-30,
.solution-4-29,
.partners-61,
.testimonials-14,
.terms-conditions-29,
.privacy-policy-29,
.get-in-touch-29,
.our-team-31,
.solution-3-31,
.solution-4-30,
.partners-62,
.testimonials-15,
.terms-conditions-30,
.privacy-policy-30,
.get-in-touch-30,
.our-team-32,
.solution-3-32,
.solution-4-31,
.partners-63,
.testimonials-16,
.terms-conditions-31,
.privacy-policy-31,
.get-in-touch-31,
.our-team-33,
.solution-3-33,
.solution-4-32,
.partners-64,
.testimonials-17,
.terms-conditions-32,
.privacy-policy-32,
.get-in-touch-32,
.our-team-34,
.solution-3-34,
.solution-4-33,
.partners-65,
.testimonials-18,
.terms-conditions-33,
.privacy-policy-33,
.get-in-touch-33,
.our-team-35,
.solution-3-35,
.solution-4-34,
.partners-66,
.testimonials-19,
.terms-conditions-34,
.privacy-policy-34,
.get-in-touch-34,
.our-team-36,
.solution-3-36,
.solution-4-35,
.partners-67,
.testimonials-20,
.terms-conditions-35,
.privacy-policy-35,
.get-in-touch-35,
.our-team-37,
.solution-3-37,
.solution-4-36,
.partners-68,
.testimonials-21,
.terms-conditions-36,
.privacy-policy-36,
.get-in-touch-36,
.our-team-38,
.solution-3-38,
.solution-4-37,
.partners-69,
.testimonials-22,
.terms-conditions-37,
.privacy-policy-37,
.get-in-touch-37,
.our-team-39,
.solution-3-39,
.solution-4-38,
.partners-70,
.testimonials-23,
.terms-conditions-38,
.privacy-policy-38,
.get-in-touch-38,
.our-team-40,
.solution-3-40,
.solution-4-39,
.partners-71,
.testimonials-24,
.terms-conditions-39,
.privacy-policy-39,
.get-in-touch-39,
.our-team-41,
.solution-3-41,
.solution-4-40,
.partners-72,
.testimonials-25,
.terms-conditions-40,
.privacy-policy-40,
.get-in-touch-40,
.our-team-42,
.solution-3-42,
.solution-4-41,
.partners-73,
.testimonials-26,
.terms-conditions-41,
.privacy-policy-41,
.get-in-touch-41,
.our-team-43,
.solution-3-43,
.solution-4-42,
.partners-74,
.testimonials-27,
.terms-conditions-42,
.privacy-policy-42,
.get-in-touch-42,
.our-team-44,
.solution-3-44,
.solution-4-43,
.partners-75,
.testimonials-28,
.terms-conditions-43,
.privacy-policy-43,
.get-in-touch-43,
.our-team-45,
.solution-3-45,
.solution-4-44,
.partners-76,
.testimonials-29,
.terms-conditions-44,
.privacy-policy-44,
.get-in-touch-44,
.our-team-46,
.solution-3-46,
.solution-4-45,
.partners-77,
.testimonials-30,
.terms-conditions-45,
.privacy-policy-45,
.get-in-touch-45,
.our-team-47,
.solution-3-47,
.solution-4-46,
.partners-78,
.testimonials-31,
.terms-conditions-46,
.privacy-policy-46,
.get-in-touch-46,
.our-team-48,
.solution-3-48,
.solution-4-47,
.partners-79,
.testimonials-32,
.terms-conditions-47,
.privacy-policy-47,
.get-in-touch-47,
.our-team-49,
.solution-3-49,
.solution-4-48,
.partners-80,
.testimonials-33,
.terms-conditions-48,
.privacy-policy-48,
.get-in-touch-48,
.our-team-50,
.solution-3-50,
.solution-4-49,
.partners-81,
.testimonials-34,
.terms-conditions-49,
.privacy-policy-49,
.get-in-touch-49,
.our-team-51,
.solution-3-51,
.solution-4-50,
.partners-82,
.testimonials-35,
.terms-conditions-50,
.privacy-policy-50,
.get-in-touch-50,
.our-team-52,
.solution-3-52,
.solution-4-51,
.partners-83,
.testimonials-36,
.terms-conditions-51,
.privacy-policy-51,
.get-in-touch-51,
.our-team-53,
.solution-3-53,
.solution-4-52,
.partners-84,
.testimonials-37,
.terms-conditions-52,
.privacy-policy-52,
.get-in-touch-52,
.our-team-54,
.solution-3-54,
.solution-4-53,
.partners-85,
.testimonials-38,
.terms-conditions-53,
.privacy-policy-53,
.get-in-touch-53,
.our-team-55,
.solution-3-55,
.solution-4-54,
.partners-86,
.testimonials-39,
.terms-conditions-54,
.privacy-policy-54,
.get-in-touch-54,
.our-team-56,
.solution-3-56,
.solution-4-55,
.partners-87,
.testimonials-40,
.terms-conditions-55,
.privacy-policy-55,
.get-in-touch-55,
.our-team-57,
.solution-3-57,
.solution-4-56,
.partners-88,
.testimonials-41,
.terms-conditions-56,
.privacy-policy-56,
.get-in-touch-56 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  white-space: nowrap;
}

.group-23,
.group-23-1,
.group-23-2,
.group-23-3,
.group-23-4,
.group-23-5,
.group-23-6,
.group-23-7,
.group-23-8,
.group-23-9,
.group-23-10,
.group-23-11,
.group-23-12,
.group-23-13,
.group-23-14,
.group-23-15,
.group-23-16,
.group-23-17,
.group-23-18,
.group-23-19,
.group-23-20,
.group-23-21,
.group-23-22,
.group-23-23,
.group-23-24,
.group-23-25,
.group-23-26,
.group-23-27,
.group-23-28,
.group-23-29,
.group-23-30,
.group-23-31,
.group-23-32,
.group-23-33,
.group-23-34,
.group-23-35,
.group-23-36,
.group-23-37,
.group-23-38,
.group-23-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 253px;
  width: 95px;
}

.frame-23,
.frame-23-2,
.frame-23-4,
.frame-23-6,
.frame-23-8,
.frame-23-10,
.frame-23-12,
.frame-23-14,
.frame-23-16,
.frame-23-18,
.frame-23-20,
.frame-23-22,
.frame-23-24,
.frame-23-26,
.frame-23-28,
.frame-23-30,
.frame-23-32,
.frame-23-34,
.frame-23-36,
.frame-23-38,
.frame-23-40,
.frame-23-42,
.frame-23-44,
.frame-23-46,
.frame-23-48,
.frame-23-50,
.frame-23-52,
.frame-23-54,
.frame-23-56,
.frame-23-58,
.frame-23-60,
.frame-23-62,
.frame-23-64,
.frame-23-66,
.frame-23-68,
.frame-23-70,
.frame-23-72,
.frame-23-74,
.frame-23-76,
.frame-23-78 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 214px;
  width: 77px;
}

.solution-1-18,
.solution-1-19,
.solution-1-20,
.solution-1-21,
.solution-1-22,
.solution-1-23,
.solution-1-24,
.solution-1-25,
.solution-1-26,
.solution-1-27,
.solution-1-28,
.solution-1-29,
.solution-1-30,
.solution-1-31,
.solution-1-32,
.solution-1-33,
.solution-1-34,
.solution-1-35,
.solution-1-36,
.solution-1-37,
.solution-1-38,
.solution-1-39,
.solution-1-40,
.solution-1-41,
.solution-1-42,
.solution-1-43,
.solution-1-44,
.solution-1-45,
.solution-1-46,
.solution-1-47,
.solution-1-48,
.solution-1-49,
.solution-1-50,
.solution-1-51,
.solution-1-52,
.solution-1-53,
.solution-1-54,
.solution-1-55,
.solution-1-56,
.solution-1-57 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.5px;
  margin-top: -1px;
  min-height: 19px;
  white-space: nowrap;
}

.solution-10,
.solution-11,
.solution-12,
.solution-13,
.solution-14,
.solution-15,
.solution-16,
.solution-17,
.solution-18,
.solution-19,
.solution-20,
.solution-21,
.solution-22,
.solution-23,
.solution-24,
.solution-25,
.solution-26,
.solution-27,
.solution-28,
.solution-29,
.solution-30,
.solution-31,
.solution-32,
.solution-33,
.solution-34,
.solution-35,
.solution-36,
.solution-37,
.solution-38,
.solution-39,
.solution-40,
.solution-41,
.solution-42,
.solution-43,
.solution-44,
.solution-45,
.solution-46,
.solution-47,
.solution-48,
.solution-49 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.5px;
  min-height: 19px;
  white-space: nowrap;
}

.group-28,
.group-28-1,
.group-28-2,
.group-28-3,
.group-28-4,
.group-28-5,
.group-28-6,
.group-28-7,
.group-28-8,
.group-28-9,
.group-28-10,
.group-28-11,
.group-28-12,
.group-28-13,
.group-28-14,
.group-28-15,
.group-28-16,
.group-28-17,
.group-28-18,
.group-28-19,
.group-28-20,
.group-28-21,
.group-28-22,
.group-28-23,
.group-28-24,
.group-28-25,
.group-28-26,
.group-28-27,
.group-28-28,
.group-28-29,
.group-28-30,
.group-28-31,
.group-28-32,
.group-28-33,
.group-28-34,
.group-28-35,
.group-28-36,
.group-28-37,
.group-28-38,
.group-28-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 136px;
  width: 146px;
}

.frame-23-1,
.frame-23-3,
.frame-23-5,
.frame-23-7,
.frame-23-9,
.frame-23-11,
.frame-23-13,
.frame-23-15,
.frame-23-17,
.frame-23-19,
.frame-23-21,
.frame-23-23,
.frame-23-25,
.frame-23-27,
.frame-23-29,
.frame-23-31,
.frame-23-33,
.frame-23-35,
.frame-23-37,
.frame-23-39,
.frame-23-41,
.frame-23-43,
.frame-23-45,
.frame-23-47,
.frame-23-49,
.frame-23-51,
.frame-23-53,
.frame-23-55,
.frame-23-57,
.frame-23-59,
.frame-23-61,
.frame-23-63,
.frame-23-65,
.frame-23-67,
.frame-23-69,
.frame-23-71,
.frame-23-73,
.frame-23-75,
.frame-23-77,
.frame-23-79 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 97px;
  width: 95px;
}

.group-24,
.group-24-1,
.group-24-2,
.group-24-3,
.group-24-4,
.group-24-5,
.group-24-6,
.group-24-7,
.group-24-8,
.group-24-9,
.group-24-10,
.group-24-11,
.group-24-12,
.group-24-13,
.group-24-14,
.group-24-15,
.group-24-16,
.group-24-17,
.group-24-18,
.group-24-19,
.group-24-20,
.group-24-21,
.group-24-22,
.group-24-23,
.group-24-24,
.group-24-25,
.group-24-26,
.group-24-27,
.group-24-28,
.group-24-29,
.group-24-30,
.group-24-31,
.group-24-32,
.group-24-33,
.group-24-34,
.group-24-35,
.group-24-36,
.group-24-37,
.group-24-38,
.group-24-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 175px;
  width: 149px;
}

.frame-25,
.frame-25-1,
.frame-25-2,
.frame-25-3,
.frame-25-4,
.frame-25-5,
.frame-25-6,
.frame-25-7,
.frame-25-8,
.frame-25-9,
.frame-25-10,
.frame-25-11,
.frame-25-12,
.frame-25-13,
.frame-25-14,
.frame-25-15,
.frame-25-16,
.frame-25-17,
.frame-25-18,
.frame-25-19,
.frame-25-20,
.frame-25-21,
.frame-25-22,
.frame-25-23,
.frame-25-24,
.frame-25-25,
.frame-25-26,
.frame-25-27,
.frame-25-28,
.frame-25-29,
.frame-25-30,
.frame-25-31,
.frame-25-32,
.frame-25-33,
.frame-25-34,
.frame-25-35,
.frame-25-36,
.frame-25-37,
.frame-25-38,
.frame-25-39 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 136px;
  width: 147px;
}

