.group-1-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 51px;
  width: 417px;
}

.population-health-15 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  margin-top: -1px;
  min-height: 22px;
}

.lorem-ipsum-dolor-si-116 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  white-space: nowrap;
}

