.contact-us-9-1 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2291px;
  position: relative;
  width: 1440px;
}

.flex-row-91 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 45px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1281px;
}

.logo-135 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.menu-73 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 48px;
  margin-left: 184px;
  margin-top: 5.0px;
  min-width: 653px;
  position: relative;
}

.frame-4-57 {
  align-items: flex-start;
  display: flex;
  min-width: 177px;
}

.partners-clients-18 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 153px;
}

.keyboard_arrow_down-158 {
  height: 24px;
  width: 24px;
}

.contact-us-container-7 {
  align-self: flex-end;
  border-radius: 20px;
  height: 42px;
  margin-left: 191px;
  position: relative;
  width: 149px;
}

.contact-us-143 {
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.title-90 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 106px;
  min-height: 73px;
}

.overlap-group4-22 {
  height: 158px;
  margin-left: 80px;
  margin-top: 30px;
  position: relative;
  width: 646px;
}

.group-container-11 {
  height: 131px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 622px;
}

.group-29-3 {
  background-color: var(--greyswhite);
  border-radius: 20px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 622px;
}

.group-57-12 {
  align-items: flex-start;
  display: flex;
  gap: 244px;
  height: 102px;
  left: 32px;
  min-width: 565px;
  padding: 0.0px 0;
  position: absolute;
  top: 0;
}

.solutions-97 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 30px;
  width: 303px;
}

.group-57-10 {
  height: 8px;
  width: 18px;
}

.lorem-ipsum-dolor-si-312 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 646px;
}

.overlap-group5-9 {
  height: 170px;
  margin-left: 80px;
  margin-top: 25px;
  position: relative;
  width: 622px;
}

.group-container-12 {
  height: 170px;
  left: 0;
  position: absolute;
  top: 0;
  width: 622px;
}

.group-29-4 {
  background-color: var(--greyswhite);
  border-radius: 20px;
  height: 89px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 622px;
}

.group-57-13 {
  align-items: flex-start;
  display: flex;
  gap: 97px;
  height: 141px;
  left: 32px;
  min-width: 565px;
  padding: 0.0px 0;
  position: absolute;
  top: 0;
}

.early-pathogen-recognition-7 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  min-height: 30px;
  width: 450px;
}

.i-know-what-i-want-3 {
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 12px;
  width: 226px;
}

.ellipse-21-4 {
  background-color: var(--alto);
  border-radius: 9.5px;
  height: 19px;
  left: 4px;
  position: absolute;
  top: 18px;
  width: 19px;
}

.ellipse-22-9 {
  border-radius: 13.5px;
  height: 27px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 27px;
}

.place-an-inquiry-10 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 80px;
  margin-top: 46px;
  min-height: 30px;
  width: 226px;
}

.overlap-group6-1 {
  align-items: flex-start;
  background-color: var(--greyswhite);
  border-radius: 20px;
  display: flex;
  height: 89px;
  margin-left: 80px;
  margin-top: 30px;
  min-width: 622px;
  padding: 29px 32px;
}

.phone-number-10 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 30px;
  width: 450px;
}

