.pdp-02 {
  align-items: center;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3960px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.flex-row-75 {
  align-items: center;
  display: flex;
  height: 45px;
  margin-left: 1.0px;
  margin-top: 48px;
  min-width: 1281px;
}

.logo-123 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.menu-61 {
  align-items: flex-start;
  display: flex;
  gap: 48px;
  margin-left: 184px;
  margin-top: 5.0px;
  min-width: 653px;
  position: relative;
}

.frame-4-45 {
  align-items: flex-start;
  display: flex;
  min-width: 177px;
}

.partners-clients-6 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 153px;
}

.keyboard_arrow_down-146 {
  height: 24px;
  width: 24px;
}

.contact-us-129 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 218px;
  margin-top: 1.0px;
  min-height: 22px;
  min-width: 94px;
}

.title-78 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 77px;
  margin-top: 171px;
  min-height: 73px;
}

.lorem-ipsum-dolor-si-287 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 72px;
  margin-top: 30px;
  min-height: 38px;
  width: 646px;
}

.partners-127 {
  align-items: center;
  display: flex;
  gap: 157px;
  height: 557px;
  margin-left: 1.0px;
  margin-top: 116px;
  min-width: 1279px;
}

.flex-col-126 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 23.0px;
  min-height: 396px;
  width: 545px;
}

.catalyst-s4-14 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 73px;
}

.group-39-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 43px;
  min-height: 275px;
  width: 545px;
}

.lorem-ipsum-dolor-si-288 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 116px;
  width: 541px;
}

.lorem-ipsum-dolor-si-289 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 116px;
  width: 541px;
}

.rectangle-23-3 {
  align-self: flex-end;
  background-color: var(--alto);
  border-radius: 39px;
  height: 532px;
  width: 577px;
}

.group-52-2 {
  align-items: center;
  border-radius: 39px;
  display: flex;
  gap: 125px;
  margin-right: 40.0px;
  margin-top: 141px;
  min-width: 1246px;
}

.rectangle-23-4 {
  background-color: var(--alto);
  border-radius: 39px;
  height: 532px;
  width: 577px;
}

.flex-col-127 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-bottom: 3.0px;
  min-height: 309px;
  width: 542px;
}

.what-does-it-solve {
  letter-spacing: 0;
  line-height: normal;
  min-height: 146px;
  text-align: right;
  width: 536px;
}

.lorem-ipsum-dolor-si-290 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  min-height: 116px;
  text-align: right;
  width: 541px;
}

.group-54-1 {
  align-items: flex-start;
  border-radius: 39px;
  display: flex;
  margin-left: 2.0px;
  margin-top: 141px;
  min-width: 1256px;
}

.overlap-group3-30 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 39px;
  display: flex;
  height: 532px;
  min-width: 1254px;
  padding: 251px 558px;
}

.infographic {
  letter-spacing: 0;
  line-height: normal;
  min-height: 29px;
  width: 138px;
}

.overlap-group4-21 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--alto);
  border-radius: 39px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-right: -65px;
  margin-top: 172px;
  min-height: 365px;
  padding: 52px 140px;
  width: 1425px;
}

.want-a-tailored-solution-for-you-18 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4px;
  min-height: 73px;
  min-width: 947px;
}

.flex-row-76 {
  align-items: center;
  display: flex;
  gap: 225px;
  height: 87px;
  min-width: 1141px;
}

.contact-us-130 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 15.0px;
  min-height: 22px;
  min-width: 94px;
}

.lorem-ipsum-dolor-si-291 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 87px;
  text-align: right;
  width: 822px;
}

