.why-2,
.why-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 87.0px;
  margin-top: 59px;
  min-height: 761px;
  width: 1187px;
}

.title-35,
.title-36 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: -8px;
  margin-top: -1px;
  min-height: 48px;
  width: 703px;
}

.today-pathogen-detec-1,
.today-pathogen-detec-2 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: -8px;
  margin-top: 30px;
  min-height: 64px;
  width: 868px;
}

.group-91,
.group-91-1 {
  align-items: center;
  align-self: flex-end;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 81px;
  min-height: 539px;
  width: 1094px;
}

.group-89-1,
.group-89-2 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  gap: 25px;
  height: 257px;
  min-width: 1094px;
}

.overlap-group-45,
.overlap-group-46 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 257px;
  padding: 18px 29px;
  width: 348px;
}

.number-16,
.number-17 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 73px;
}

.simultaneous-review-1,
.simultaneous-review-2 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  text-align: center;
  width: 289px;
}

.diagnostic-decision-support-1,
.diagnostic-decision-support-2 {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 1.0px;
  min-height: 64px;
  text-align: center;
  width: 287px;
}

.near-real-time-updates,
.near-real-time-updates-1 {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  margin-right: 1.0px;
  min-width: 261px;
  text-align: center;
  white-space: nowrap;
}

.group-90-1,
.group-90-2 {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  gap: 25px;
  height: 257px;
  margin-left: 57.0px;
  min-width: 721px;
}

.overlap-group-47,
.overlap-group-48 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 257px;
  padding: 18px 0;
  width: 348px;
}

.number-18,
.number-20 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 29px;
  min-height: 73px;
}

.integrates-into-existing-workflow,
.integrates-into-existing-workflow-1 {
  align-self: center;
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  text-align: center;
  width: 330px;
}

.overlap-group1-14,
.overlap-group1-15 {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 257px;
  padding: 18px 11px;
  width: 348px;
}

.number-19,
.number-21 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 18px;
  min-height: 73px;
}

.no-hardware-installation-required,
.no-hardware-installation-required-1 {
  letter-spacing: 0;
  line-height: 32px;
  min-height: 64px;
  text-align: center;
  width: 325px;
}

