.group-86 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  min-height: 171px;
  width: 348px;
}

.lorem-ipsum-dolor-si-95 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 57px;
  width: 342px;
}

.lorem-ipsum-dolor-si-96 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 30px;
  min-height: 57px;
  width: 342px;
}

.flex-row-24 {
  align-items: flex-end;
  display: flex;
  gap: 6px;
  height: 17px;
  margin-top: 10px;
  min-width: 84px;
}

.read-more-2 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 17px;
  min-width: 72px;
}

.group-98 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  min-height: 11px;
  width: 6px;
}

.line-2 {
  height: 6px;
  margin-left: 0;
  width: 6px;
}

.group-86.group-86-1 {
  margin-top: 6px;
}

