.footer-5 {
  align-items: center;
  background-color: var(--greyslight);
  display: flex;
  gap: 387px;
  height: 407px;
  min-width: 1440px;
  padding: 35px 75px;
  position: relative;
}

.flex-col-26 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 163px;
  min-height: 293px;
  width: 232px;
}

.logo-17 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
}

.group-27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  min-height: 86px;
  width: 232px;
}

.follow-us-on-17 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 19px;
  white-space: nowrap;
}

.frame-26 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  min-width: 230px;
}

.ellipse-1 {
  background-color: var(--alto);
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.footer-5.footer-31 {
  flex-direction: row;
  justify-content: flex-start;
  left: 1px;
  position: absolute;
  top: 2221px;
  width: auto;
}

.footer-5.footer-33 {
  flex-direction: row;
  justify-content: flex-start;
  left: 1px;
  position: absolute;
  top: 1908px;
  width: auto;
}

