.group-42,
.group-42-1,
.group-42-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 115px;
  min-width: 1440px;
}

.footer-40,
.footer-41,
.footer-42 {
  align-items: center;
  background-color: var(--greyslight);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 237px;
  height: 407px;
  justify-content: flex-start;
  min-width: 1440px;
  padding: 35px 75px;
  position: relative;
  width: auto;
}

.flex-col-48,
.flex-col-49,
.flex-col-50 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  width: 382px;
}

.logo-53,
.logo-54,
.logo-55 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
}

.group-28-40,
.group-28-41,
.group-28-42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 44px;
  min-height: 100px;
  width: 382px;
}

.enter-your-email-add,
.enter-your-email-add-1,
.enter-your-email-add-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 38px;
  width: 380px;
}

.overlap-group-58,
.overlap-group-59,
.overlap-group-60 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  gap: 137px;
  height: 51px;
  min-width: 380px;
  padding: 13px 26px;
}

.your-email-address,
.your-email-address-1,
.your-email-address-2 {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 19px;
  min-width: 140px;
  white-space: nowrap;
}

.place-29,
.place-30,
.place-31 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.group-27-18,
.group-27-19,
.group-27-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 56px;
  min-height: 86px;
  width: 232px;
}

.follow-us-on-35,
.follow-us-on-36,
.follow-us-on-37 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 19px;
  white-space: nowrap;
}

.frame-26-18,
.frame-26-19,
.frame-26-20 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  min-width: 230px;
}

.ellipse-24,
.ellipse-25,
.ellipse-26 {
  background-color: var(--alto);
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

