.homepage {
  align-items: center;
  background-color: var(--greyswhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5320px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.flex-row-23 {
  align-items: center;
  display: flex;
  height: 45px;
  margin-right: 2.0px;
  margin-top: 48px;
  min-width: 1292px;
  position: relative;
}

.logo-10 {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
  min-width: 104px;
}

.contact-us-45 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 200px;
  margin-top: 1.0px;
  min-height: 22px;
  min-width: 94px;
}

.title-31 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 129px;
  min-height: 73px;
  min-width: 704px;
  text-align: center;
}

.rebuild-the-healthca-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 29px;
  min-height: 28px;
  text-align: center;
  width: 785px;
}

.solutions-20 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 149px;
  min-height: 561px;
  position: relative;
  width: 1333px;
}

.our-solutions-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: -1px;
  min-height: 48px;
  min-width: 263px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-71 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 26px;
  min-height: 48px;
  text-align: center;
  width: 805px;
}

.frame-87 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 26px;
  margin-left: 8px;
  margin-top: 60px;
  min-width: 1284px;
  position: relative;
}

.overlap-group1-3 {
  align-items: center;
  background-color: var(--alto);
  border-radius: 20px;
  display: flex;
  height: 258px;
  justify-content: flex-end;
  min-width: 289px;
  padding: 0 83px;
}

.solution-2-17 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 121px;
  white-space: nowrap;
}

.overlap-group2-3 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 20px;
  display: flex;
  height: 258px;
  min-width: 289px;
  padding: 116px 84px;
}

.solution-3-17 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  white-space: nowrap;
}

.news-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 150px;
  min-height: 531px;
  position: relative;
  width: 1287px;
}

.latest-publications-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 48px;
  min-width: 375px;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-72 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2.0px;
  margin-top: 26px;
  min-height: 48px;
  width: 805px;
}

