.group-10-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: 475px;
  position: relative;
  width: 1291px;
}

.frame-container-3 {
  align-items: flex-start;
  display: flex;
  height: 399px;
  min-width: 1291px;
  position: relative;
}

