.group-8-1,
.group-8-1.group-12,
.group-8-1.group-13,
.group-8-1.group-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 70px;
  width: 277px;
}

.catalyst-research-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
}

.lorem-ipsum-dolor-si-62 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  opacity: 0.8;
  width: 273px;
}

