.frame-4-21 {
  align-items: center;
  display: flex;
  margin-left: 51px;
  min-width: 108px;
}

.partners-93 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 25px;
  min-width: 76px;
}

.caret-circle-down-52 {
  height: 32px;
  width: 32px;
}

.frame-4-21.frame-4-24 {
  margin-left: unset;
}

