.footer-57 {
  align-items: center;
  background-color: var(--greyslight);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 186px;
  height: 407px;
  justify-content: flex-start;
  margin-top: 244px;
  min-width: 1440px;
  padding: 35px 90px;
  position: relative;
  width: auto;
}

.flex-col-98 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 330px;
  width: 382px;
}

.logo-100 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 44px;
}

.group-26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 44px;
  min-height: 100px;
  width: 382px;
}

.enter-your-email-add-3 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 38px;
  width: 380px;
}

.overlap-group-104 {
  align-items: flex-start;
  border-radius: 30px;
  display: flex;
  gap: 137px;
  height: 51px;
  min-width: 380px;
  padding: 13px 26px;
}

.your-email-address-3 {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 19px;
  min-width: 140px;
  white-space: nowrap;
}

.place-47 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.group-27-21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 56px;
  min-height: 86px;
  width: 232px;
}

.follow-us-on-52 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 19px;
  white-space: nowrap;
}

.frame-26-21 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  min-width: 230px;
}

.ellipse-31 {
  background-color: var(--alto);
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.footer-57.footer-59 {
  margin-top: 120px;
}

.footer-57.footer-60,
.footer-57.footer-64 {
  margin-top: 115px;
}

.footer-57.footer-61,
.footer-57.footer-62,
.footer-57.footer-67,
.footer-57.footer-68,
.footer-57.footer-69,
.footer-57.footer-70 {
  margin-top: 83px;
}

.footer-57.footer-63 {
  margin-top: unset;
}

.footer-57.footer-65 {
  margin-top: 185px;
}

.footer-57.footer-66 {
  margin-top: 150px;
}

.footer-57.footer-71 {
  margin-top: 626px;
}

.footer-57.footer-72 {
  margin-top: 775px;
}

.footer-57.footer-73 {
  margin-top: 413px;
}

.footer-57.footer-74,
.footer-57.footer-75 {
  margin-top: 483px;
}

