.group-48-14,
.group-48-15,
.group-48-16,
.group-48-17 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 136px;
  width: 442px;
}

.lorem-ipsum-dolor-si-238,
.lorem-ipsum-dolor-si-239,
.lorem-ipsum-dolor-si-240,
.lorem-ipsum-dolor-si-241 {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1px;
  min-height: 84px;
  width: 438px;
}

.address-19,
.address-20,
.address-21,
.address-22 {
  letter-spacing: 0;
  line-height: 22px;
  opacity: 0.5;
  width: 95px;
}

