.frame-5-44 {
  align-items: center;
  display: flex;
  margin-left: 51px;
  min-width: 101px;
}

.insights-22 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 25px;
  min-width: 69px;
}

.caret-circle-down-88 {
  height: 32px;
  width: 32px;
}

.frame-5-44.frame-5-47 {
  margin-left: unset;
}

