.breadcrumb-13,
.breadcrumb-14 {
  align-items: center;
  display: flex;
  gap: 3px;
  height: 32px;
  left: 260px;
  min-width: 348px;
  position: absolute;
  top: 238px;
}

.place-40,
.place-41 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 48px;
}

.caret-circle-right-42,
.caret-circle-right-43 {
  height: 32px;
  width: 32px;
}

.solutions-88,
.solutions-89 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 76px;
}

.population-health-34,
.population-health-35 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 22px;
  min-width: 148px;
  opacity: 0.6;
}

