.level-2-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-top: 9.0px;
  min-height: 303px;
  position: relative;
  width: 442px;
}

.level-2-4.level-1-1,
.level-2-4.level-1-2 {
  align-self: unset;
  margin-right: 17px;
  margin-top: 3px;
}

.level-2-4.level-2-6,
.level-2-4.level-2-7,
.level-2-4.level-2-8 {
  align-self: unset;
}

