.frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.rectangle-20-3 {
  height: 276px;
  object-fit: cover;
  position: relative;
  width: 281px;
}

