.breadcrumb-9,
.breadcrumb-10 {
  align-items: center;
  display: inline-flex;
  gap: 3px;
  left: 260px;
  position: absolute;
  top: 238px;
}

.place-9,
.place-10 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.caret-circle-right-20,
.caret-circle-right-21 {
  height: 32px;
  position: relative;
  width: 32px;
}

.our-story-18,
.our-team-17 {
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.6;
  position: relative;
  width: fit-content;
}

