.frame-48 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 359px;
  position: relative;
  width: 281px;
}

.rectangle-20-8 {
  height: 276px;
  width: 281px;
}

