.partners-124 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 53px;
  margin-right: 35.0px;
  margin-top: 117px;
  min-height: 703px;
  width: 1251px;
}

.group-38-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-height: 57px;
  width: 1204px;
}

.navbar-3 {
  align-items: flex-start;
  display: flex;
  gap: 60px;
  height: 29px;
  min-width: 1178px;
}

.navbar-link-solution-partners {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 29px;
  min-width: 205px;
}

.navbar-link-technology-partners {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 29px;
  min-width: 235px;
}

.navbar-link-research-partners {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 29px;
  min-width: 209px;
}

.navbar-link-ecosystem-expansion-partners {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 29px;
}

.overlap-group2-38 {
  align-items: flex-start;
  background-image: url(/static/img/line-2-9@2x.png);
  background-size: 100% 100%;
  display: flex;
  min-width: 1204px;
  padding: 0 1px;
}

.line-3-7 {
  height: 1px;
  width: 205px;
}

.group-container-4 {
  height: 621px;
  margin-left: 1px;
  position: relative;
  width: 1222px;
}

.overlap-group1-44 {
  height: 621px;
  left: 565px;
  position: absolute;
  top: 0;
  width: 657px;
}

.ellipse-container-35 {
  height: 621px;
  left: 0;
  position: absolute;
  top: 0;
  width: 594px;
}

.ellipse-9-21 {
  background-color: var(--alto);
  border-radius: 121.5px;
  height: 243px;
  left: 153px;
  position: absolute;
  top: 0;
  width: 243px;
}

.ellipse-13-4 {
  background-color: var(--alto);
  border-radius: 94px;
  height: 188px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 188px;
}

.ellipse-11-4 {
  background-color: var(--cultured-pearl);
  border-radius: 112px;
  height: 224px;
  left: 153px;
  position: absolute;
  top: 397px;
  width: 224px;
}

.ellipse-12-4 {
  background-color: var(--alto);
  border-radius: 112px;
  height: 224px;
  left: 370px;
  position: absolute;
  top: 204px;
  width: 224px;
}

.ellipse-10-21 {
  background-color: var(--cultured-pearl);
  border-radius: 94px;
  height: 188px;
  left: 469px;
  position: absolute;
  top: 0;
  width: 188px;
}

.partners-124.partners-125 {
  margin-right: 41.0px;
}

