.frame-184953-3 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-bottom: 29.0px;
  margin-left: 89px;
  min-height: 728px;
  width: 1140px;
}

.frame-184962-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 204px;
  width: 868px;
}

.title-lorem-ipsum-d-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-height: 130px;
}

.frame-184962-item {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.flex-row-59 {
  align-items: flex-start;
  display: flex;
  gap: 22px;
  height: 484px;
  min-width: 1137px;
}

.lorem-ipsum-dolor-si-246 {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 484px;
  width: 548px;
}

.rectangle-12751-20 {
  height: 457px;
  margin-top: 1px;
  object-fit: cover;
  width: 567px;
}

.frame-184953-3.frame-184953-4 {
  align-self: unset;
  margin-bottom: unset;
  margin-top: 75px;
}

