.container-43,
.container-44,
.partners-119 {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 772px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 0 198px;
}

.content-61,
.content-62,
.content-63 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 532px;
  min-width: 1400px;
}

.caret-circle-left-23,
.caret-circle-left-24,
.caret-circle-left-25 {
  align-self: center;
  height: 42px;
  margin-left: -50px;
  margin-top: 118.0px;
  width: 42px;
}

.flex-col-78,
.flex-col-79,
.flex-col-80 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  min-height: 533px;
  position: relative;
  width: 1396px;
}

.our-partners-10,
.our-partners-11,
.our-partners-12 {
  letter-spacing: 0;
  line-height: 52px;
  min-width: 335px;
  text-align: center;
  white-space: nowrap;
}

.lorem-ipsum-dolor-si-204,
.lorem-ipsum-dolor-si-205,
.lorem-ipsum-dolor-si-206 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 50px;
  min-height: 66px;
  text-align: center;
  width: 1016px;
}

.caret-circle-right-37,
.caret-circle-right-38,
.caret-circle-right-39 {
  height: 42px;
  margin-top: 118.0px;
  width: 42px;
}

