.frame-89-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 227px;
  min-height: 294px;
  position: relative;
  width: 1400px;
}

.frame-89-6.frame-89-10,
.frame-89-6.frame-89-11,
.frame-89-6.frame-89-12 {
  left: 260px;
  margin-top: unset;
  position: absolute;
  top: 336px;
}

