.frame-184963 {
  height: 69px;
  position: relative;
  width: 71px;
}

.name-13 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.position-1 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
}

