.ghost-_breadcrumb_item-25 {
  align-items: flex-start;
  background-color: #ffffff00;
  border-radius: 4px;
  display: flex;
  height: 24px;
  min-width: 89px;
  padding: 0 8px;
}

.solutions-66 {
  letter-spacing: 0;
  line-height: 160px;
  margin-top: -2px;
  min-height: 26px;
  white-space: nowrap;
}

.ghost-_breadcrumb_item-25.ghost-_breadcrumb_item-26,
.ghost-_breadcrumb_item-25.ghost-_breadcrumb_item-27 {
  min-width: 87px;
  padding: 0 7.5px;
}

