.group-48,
.group-48-1,
.group-48-2 {
  height: 82px;
  margin-right: -4.00px;
  position: relative;
  width: 630px;
}

.lorem-ipsum-dolor-si-29,
.lorem-ipsum-dolor-si-30,
.lorem-ipsum-dolor-si-31 {
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  width: 626px;
}

.address-5,
.address-6,
.address-7 {
  left: 0;
  letter-spacing: 0;
  line-height: 17.6px;
  opacity: 0.5;
  position: absolute;
  top: 64px;
  width: 96px;
}

