.category-6-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-height: 51px;
  width: 442px;
}

.population-health-8 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  min-height: 25px;
}

.lorem-ipsum-dolor-si-49 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 19px;
  opacity: 0.8;
  width: 399px;
}

