.dropdowns-expanded-2,
.dropdowns-expanded-3,
.dropdowns-expanded-4 {
  align-items: flex-end;
  background-color: var(--greyslight-beige);
  border: 1px none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  min-height: 491px;
  overflow-x: hidden;
  padding: 20px 16px;
  position: relative;
  width: 848px;
}

.flex-row-62,
.flex-row-63,
.flex-row-64 {
  align-items: center;
  display: flex;
  margin-right: 15px;
  min-width: 787px;
  position: relative;
}

.line-1-7,
.line-1-8,
.line-1-9 {
  height: 322px;
  margin-left: 27px;
  width: 1px;
}

.group-10-10,
.group-10-11,
.group-10-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 12.0px;
  margin-left: 44px;
  min-height: 282px;
  position: relative;
  width: 273px;
}

