.frame-8-1 {
  align-items: flex-start;
  background-color: var(--dove-gray);
  border: 1px none;
  display: flex;
  height: 239px;
  min-width: 3201px;
  padding: 41px 145px;
}

.title-26 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 155px;
}

